<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>The Project | Email Template</title>
    </head>
    <body style="margin: 0; padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>

                    <!-- Header Top Start -->
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                        <tr>
                            <td>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                                    <tr>
                                        <td align="left"  bgcolor="#332f2c">
                                            <!-- Space -->
                                            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                            </table>
                                            <table align="center">
                                                <tr>
                                                    <td width="22">
                                                        <img src="images/marker-icon-white.png" alt="location" />
                                                    </td>
                                                    <td style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">One infinity loop, 54100</td>
                                                    <td width="22"></td>
                                                    <td width="22">
                                                        <img src="images/phone-icon-white.png" alt="location" />
                                                    </td>
                                                    <td style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">+255&nbsp;756&nbsp;000&nbsp;123</td>
                                                    <td width="22"></td>
                                                    <td width="22">
                                                        <img src="images/mail-icon-white.png" alt="location" />
                                                    </td>
                                                    <td>
                                                        <a style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;" href="mailto:eregsupport@aimgroup.co.tz ">eregsupport@aimgroup.co.tz </a>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- Space -->
                                            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- Header Top End -->

                    <!-- Header Start -->
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                        <tr>
                            <td style="padding:15px 0 0 0;">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                                    <tr>
                                        <td>
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="200" style="border-collapse: collapse;">
                                                <!-- logo -->
                                                <tr>
                                                    <td align="left">
                                                        <h2 style="font-size: 28px; line-height: 18px; font-family:helvetica, Arial, sans-serif; color:#666;">E-reg 2.0</h2>
                                                    </td>
                                                </tr>
                                                <!-- company slogan -->
                                                <tr>
                                                    <td width="100%" align="left" style="font-size: 12px; line-height: 18px; font-family:helvetica, Arial, sans-serif; color:#999999;">	
                                                        Hello..
                                                    </td>
                                                </tr>									
                                                <!-- Space -->
                                                <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                                            </table>
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="370" style="border-collapse: collapse;">
                                                <tr>
                                                    <td  height="75" style="text-align: right; vertical-align: middle;">
                                                        </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- Header End -->

                    
                    <!-- Banner Start -->
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                        <tr>
                            <td>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                                    <tr>
                                        <td>
                                            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                <tr>
                                                    <td>
                                                        <!-- Space -->
                                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                            <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                                        </table>
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
                                                            <tr>
                                                                <td>
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                                                        <tr>
                                                                            <td width="100%" align="left" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#343434;">
                                                                                Hello u{ser}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="75%" style="border-collapse: collapse;">
                                                                        <!-- Space -->
                                                                        <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                                                        <tr>
                                                                            <td width="100%" align="left" style="font-size: 15px; line-height: 22px; font-family:helvetica, Arial, sans-serif; color:#777777;">
                                                                                Your report {reportname} is ready for download please click the link below to tempore similique cupiditate, atque ad reiciendis asperiores maiores dolores necessit...
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table align="right" border="0" cellpadding="0" cellspacing="0" width="22%" style="border-collapse: collapse;">
                                                                        <!-- Space -->
                                                                        <tr><td style="font-size: 0; line-height: 0;" height="25">&nbsp;</td></tr>
                                                                        <tr>
                                                                            <td width="100%" align="center" style="padding:10px 12px 10px 12px; text-align: center;border-radius:4px;" bgcolor="#e07e27">
                                                                                <a href="#" style="color: #fff; font-size: 14px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Download Report</a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- Space -->
                                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>				
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- Banner End -->


                    <!-- Footer Start -->
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                        <tr>
                            <td>
                                <table bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                                    <tr>
                                        <td>
                                            <!-- Space -->
                                            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
                                            </table>
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
                                                <tr>
                                                    <td>
                                                        <!-- First Column -->
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="250" style="border-collapse: collapse;">
                                                            <tr>
                                                                <td>
                                                                    <h2 style="font-size: 28px; line-height: 18px; font-family:helvetica, Arial, sans-serif; color:#666;">E-reg 2.0</h2>
                                                                </td>
                                                            </tr>
                                                            <!-- Space -->
                                                            <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                                            <tr>
                                                                <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                                    Lorem ipsum dolor sit amet, consect tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.
                                                                </td>
                                                            </tr>
                                                            <!-- Space -->
                                                            <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                                                            <tr>
                                                                <td>
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
                                                                        <tr>
                                                                            <td>
                                                                                <a href="#">
                                                                                    <img src="images/facebook-icon.png"  alt="Facebook" style="display: block;" />
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
                                                                        <tr>
                                                                            <td>
                                                                                <a href="#">
                                                                                    <img src="images/twitter-icon.png"  alt="Twitter" style="display: block;" />
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
                                                                        <tr>
                                                                            <td>
                                                                                <a href="#">
                                                                                    <img src="images/googleplus-icon.png"  alt="Google+" style="display: block;" />
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
                                                                        <tr>
                                                                            <td>
                                                                                <a href="#">
                                                                                    <img src="images/linkedin-icon.png"  alt="Linked In" style="display: block;" />
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- Gutter 20px -->
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="40" style="border-collapse: collapse;">
                                                            <tr>
                                                                <td>
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- Second Column -->
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="250" style="border-collapse: collapse;">
                                                            <!-- Space -->
                                                            <tr><td style="font-size: 0; line-height: 0;" height="57">&nbsp;</td></tr>
                                                            <tr>
                                                                <td width="22">
                                                                    <img src="images/marker-icon.png" alt="location" />
                                                                </td>
                                                                <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">E-reg Moat1</td!
                                                            </tr>
                                                            <!-- Space -->
                                                            <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                                            <tr>
                                                                <td width="22">
                                                                    <img src="images/phone-icon.png" alt="location" />
                                                                </td>
                                                                <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">+255756000001</td>
                                                            </tr>
                                                            <!-- Space -->
                                                            <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                                            <tr>
                                                                <td width="22">
                                                                    <img src="images/fax-icon.png" alt="location" />
                                                                </td>
                                                                <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">+255756111110</td>
                                                            </tr>
                                                            <!-- Space -->
                                                            <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                                            <tr>
                                                                <td width="22">
                                                                    <img src="images/mail-icon.png" alt="location" />
                                                                </td>
                                                                <td>
                                                                    <a style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;" href="eregsupport@aimgroup.co.tz">eregsupport@aimgroup.co.tz </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- Space -->
                                            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                    <!-- Footer End -->

                    <!-- Subfooter Start -->
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                        <tr>
                            <td>
                                <table bgcolor="#f5f5f5" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                                    <tr>
                                        <td>
                                            <!-- Space -->
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                                <tr><td style="font-size: 0; line-height: 0;" bgcolor="#eaeaea" height="1">&nbsp;</td></tr>
                                                <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                            </table>
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
                                                <tr>
                                                    <td align="center" style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                        Copyright © 2015 E-reg2.0 <a href="http://www.aimgroup.co.tz" style="color: #e07e27; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;">Aimgroup Ltd</a>. All Rights Reserved / <a href="#" style="color: #e07e27; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;"> Unsubscribe</a>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- Space -->
                                            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                    <!-- Subfooter End -->


                </td>
            </tr>
        </table>
    </body>
</html>