{% extends '::index.html.twig' %}

{% block body %}
   <style scoped>
   .topSSummary {
    width: 20%;
    float: left;
}
  </style>
    <br><br>
  
    <div id="page-content" style="min-height: 190px;">
        <div class="row">
            <div class="col-md-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Total Biometric</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <small>
                                <small>Total biometric NIDA registrations</small>
                            </small>
                        </p>
                        <h1 class="no-margins" id="total"><span class="fa fa-spinner fa-spin"></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Pending Info</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <small>
                                <small>Pending biometric NIDA registrations</small>
                            </small>
                        </p>
                        <h1 class="no-margins" id="pending_info"><span class="fa fa-spinner fa-spin"></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Pending NIDA</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <small>
                                <small>Pending biometric NIDA verification</small>
                            </small>
                        </p>
                        <h1 class="no-margins" id="pending_nida"><span class="fa fa-spinner fa-spin"></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Accepted NIDA</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <small>
                                <small>Successfully biometric NIDA verifications</small>
                            </small>
                        </p>
                        <h1 class="no-margins" id="verified"><span class="fa fa-spinner fa-spin"></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Declined NIDA</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <small>
                                <small>Declined biometric NIDA verifications</small>
                            </small>
                        </p>
                        <h1 class="no-margins" id="declined"><span class="fa fa-spinner fa-spin"></span></h1>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="panel border-grey">
                    <div class="panel-heading">
                <span class="panel-title text-uppercase text-bold">
                   Daily Hourly Registration Summary
                </span>
                    </div>
                    <div class="panel-body">
                        <div class="ibox-content">
                            <div class="flot-chart">
                                <div style="padding: 0px; position: relative;">
                                    <div class="over_ly graph_div">
                                        <img src="{{ asset('assets/img/loader-light.gif') }}"/>
                                    </div>
                                    <div id="drawlline">
                                        <canvas id="lineChart" height="60"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden">
                <div class="panel border-grey">
                    <div class="panel-heading">
                <span class="panel-title text-uppercase text-bold">
                  Average Verification Time
                </span>
                    </div>
                    <div class="panel-body">
                        <div class="content cf-gauge" id="cf-gauge-1">
                            <div id="placeholderguage" class="" style=" width: 250px; height: 200px;"></div>
                            <p class="metric" style="zoom:70%;">
                                <x id="verifyLock" style="font-size: 36px;line-height: 1; margin-top: 20px;"></x>
                                <small></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel border-grey">
                    <div class="panel-heading">
                <span class="panel-title text-uppercase text-bold">
                   Daily Biometric Verification Summary
                </span>
                    </div>
                    <div class="panel-body">
                        <div class="ibox-content">

                            <div class="row">

                                <div class="over_ly table_loading" style="display:none;text-align:center;margin:50px;">
                                    <img src="{{ asset('assets/img/loader-light.gif') }}" />
                                </div>

                                <div class="active_agents">
                                    <div class="resutlstable">
                                        <table id="active_a" class="table table-striped table-bordered table-hover"></table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

{% endblock %}


{% block stylesheetafter %}
    <style>
        .over_ly img {
            margin: 0 auto;
            display: block;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/plugins/chartJs/Chart.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
    <!-- Datatables -->
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.tableTools.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tools/js/dataTables.tableTools.js') }}"></script>

    <script type="text/javascript">

        var verifierTodayCountURL = "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/verifier_today_count";
        var startDate = "{{ date_start }}";
        var endDate = "{{ date_today }}";
        var hourlySummaryURL = function (start, end) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/get_hourly_summary/" + start + "/" + end + "";
        };
        var countVerifysummaryURL = function (start, end) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/get_count_summary/" + start + "/" + end + "";
        };

        var verificationTimeURL = function (start, end) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/verification_time/" + start + "/" + end + "";
        };

        getTopSummaryCount(startDate, endDate);

        plotGuageChart(startDate, endDate);


        function getTopSummaryCount(start, end) {
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/get_count_summary/" + start + "/" + end + "",
                type: "GET",
                dataType: "json",
                success: function (responce) {
                    $("#total").html(responce.total);
                    $("#verified").html(responce.verified);
                    $("#pending_nida").html(responce.unverified);
                    $("#pending_info").html(responce.pending_info);
                    $("#declined").html(responce.declined);

                },
                error: function () {

                    $("#total").html(0);
                    $("#received").html(0);
                    $("#pending_nida").html(0);
                    $("#pending_info").html(0);
                    $("#declined").html(0);
                }
            })
        }

        function plotGuageChart(start, end) {
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/verification_time/" + start + "/" + end + "",
                type: "GET",
                dataType: "json",
                success: function (response) {
                    $("#verifyLock").html(response.verifyLock);

                    var data = [
                        {
                            label: "Avarage Verification Time",
                            data: [[0, parseInt(response.verifyLock)]],
                            gauges: {
                                value: {
                                    show: false
                                }
                            }
                        }
                    ];
                    var options = {
                        series: {
                            grow: {
                                active: true,
                                duration: 1500
                            },
                            gauges: {
                                debug: {
                                    log: false,
                                    layout: false
                                },
                                show: true,
                                cell: {
                                    background: {
                                        color: null
                                    },
                                    border: {
                                        show: false,
                                        width: 0
                                    }
                                },
                                shadow: {
                                    show: false
                                },
                                frame: {
                                    show: false
                                },
                                gauge: {
                                    min: 0,
                                    max: 80
                                }
                            },
                            label: {
                                show: true,
                                margin: "auto", // a specified number, or 'auto'
                                background: {
                                    color: null,
                                    opacity: 0
                                },
                                font: {
                                    size: "12px", // a specified number, or 'auto'
                                }
                            }
                        }
                    };

                    $("#placeholderguage").plot(data, options);
                },
                error: function () {
                }
            });
        }

    </script>

    <!-- daterangepicker -->
    <script type="text/javascript" src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/datepicker/daterangepicker.js') }}"></script>
    <!-- datepicker -->
    <script type="text/javascript">

        $(document).ready(function () {
            var $verifyer_date_startDate = "{{ date_start }}";
            var $verifyer_date_endDate = "{{ date_today }}";
            plotreportAgents($verifyer_date_startDate, $verifyer_date_endDate);

            setInterval(function () {
                var t = $("#reports_search").text(),
                        i = t.split(" - "),
                        $verifyer_date_startDate = $.datepicker.formatDate("yy-mm-dd", new Date(i[0])),
                        $verifyer_date_endDate = $.datepicker.formatDate("yy-mm-dd", new Date(i[1]));
                //   plotreportAgents($verifyer_date_startDate, $verifyer_date_endDate);
            }, 30000);


            var cb = function (start, end, label) {
                //console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(1, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: moment().format('DD/MM/YYYY'),
                dateLimit: {
                    days: 460
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            //$('#reportrange span').html(moment().subtract(1, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange span').html("{{ date_start|date('F d, Y') }} - {{ date_today|date('F d, Y') }}");
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                //console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                //console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                //console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                //console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });


        function plotreportAgents(start, end) {

            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/verify_daily_report/" + start + "/" + end + "", //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    //console.log(data.toString());
                    var num = 0;
                    var total = 0;
                    var append_data = "";
                    $(".over_ly.table_loading").hide();

                    $('.resutlstable').html('');
                    $('.resutlstable').html('<table id="active_a" class="table table-striped table-bordered table-hover"></table>');

                    $('.ttitles').show();
                    $('#active_a').append("<thead style='font-size: 12px;'><tr>\n\
                            <th>#</th><th>Date</th><th>Reg Total</th>\n\
                            <th style='background:#EAF1ED'>Good</th>\n\
                            <th style='background:rgba(160, 24, 24, 0.24);'>Bad</th>\n\
                            </tr></thead><tbody></tbody>");
                    //{"sum_regs":"7","agent_id":9,"agent_names":"HABIB MBULLY","username":"765590928","territory_name":"mtwara","region_name":"Coast","created_on":"2016-03-17"}
                    $.each(data, function (index, val) {
                        num = num + 1;
                        total = parseInt(total) + parseInt(val.count);

                        append_data = "<tr style='height:1px;'>\n\
                                        <td style='padding:2px;'>" + num + "</td>\n\
                                        <td style='text-align:left;' class='ant_td'>" + val.created_on + "</td>\n\
                                        <td class='ant_td'>" + val.sum_total + "</td>\n\\n\
                                        <td class='ant_td' style='background:#EAF1ED'><a href='verify_daily_reports_detail/" + val.created_on + "/1'>" + val.sum_good + "</a></td>\n\
                                        <td class='ant_td' style='background:rgba(160, 24, 24, 0.24);'><a href='verify_daily_reports_detail/" + val.created_on + "/3'>" + val.sum_bad + "</a></td>\n\
                                        </tr>";
                        $(append_data).appendTo($("#active_a tbody"));
                    });

                    //dataTableTableA("active_a");

                },
                error: function () {

                    $('#resutlstable').html("No verification summary found");
                }
            });


        }


    </script>

    <script type="text/javascript">


    </script>
{% endblock %}

