{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>BlacklistedNumbers list</h1>

    <ul class="pull-right">
        <li>
            <a href="{{ path('admin_blacklistednumbers_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
        <thead>
            <tr>
                <th style="width:1%;">Id</th>
                <th style="width:260px;">Createddate</th>
                <th>Name</th>
                <th style="text-align: right; width:140px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_blacklistednumbers_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{% if entity.createdDate %}{{ entity.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.name }}</td>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="{{ path('admin_blacklistednumbers_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_blacklistednumbers_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
