{% extends '::simreg_actions.html.twig' %}



{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-4 pull-right">

        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="">

                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                            <form class="form-horizontal" id="vodashopform">
                                <p class="text-center">Search Agent To Add</p>
                                <div class="form-group"><label class="col-lg-4 control-label">Agent MSISDN</label>
                                    <div class="col-lg-8">
                                        <input type="text" required="required" name="agent_msisdn" placeholder="Agent MSISDN" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-lg-4 control-label">Agent Name</label>
                                    <div class="col-lg-8">
                                        <input type="text" name="agent_name" placeholder="Agent Name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-4 col-lg-8">
                                        <button class="btn btn-sm btn-white" type="button" onclick="vodashopAgentsConfig({{id}})">Search Agent</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>




                <div class="row">
                    <div class="col-lg-12">

                        <table id="agent_count_table" class="table table-condensed">
                            <tbody></tbody>
                        </table>

                    </div>
                </div>




                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <h2>{{ title_descr }}</h2>
                        <br />
                        <div id="ManagerTableContainer"></div>

                        <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="tableA">
                            <thead>
                                <tr>
                                    <th style="width:1%; padding:8px 15px !important;">Id</th>
                                    <th>MSISDN</th>
                                    <th>Firstname</th>
                                    <th>LastName</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Date Created</th>
                                    <th style="width:1%; padding:8px 15px !important;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in users %}
                                    <tr id="{{ row.id }}">
                                        <td style="width:1%; padding:8px 15px !important;">{{ row.id }}</td>
                                        <td>{{ row.mobileNumber }}</td>
                                        <td>{{ row.firstName }}</td>
                                        <td>{{ row.lastName }}</td>
                                        <td>{{ row.username }}</td>
                                        <td>{{ row.email }}</td>
                                        <td>{{ row.createdAt|date('Y-m-d') }}</td>
                                        <td style="width:1%; padding:8px 15px !important;">
                                            <a href="{{ path('user_edit', { 'id': row.id }) }}">edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


        <script src="{{ asset('assets/js/core/agents.js') }}"></script>



        <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
        <!-- Datatables -->
        <link href="{{ asset('assets/css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/plugins/dataTables/dataTables.responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/plugins/dataTables/dataTables.tableTools.min.css') }}" rel="stylesheet">
        <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.js') }}"></script>
        <script src="{{ asset('assets/js/datatables/tools/js/dataTables.tableTools.js') }}"></script>
        <script type="text/javascript">
                                            function dataTableTableA(tableID) {
                                                var asInitVals = new Array();
                                                $('#' + tableID).dataTable({
                                                    "oLanguage": {
                                                        "sSearch": "Search all columns:"
                                                    },
                                                    "aoColumnDefs": [
                                                        {
                                                            'bSortable': false,
                                                            'aTargets': [0]
                                                        } //disables sorting for column one
                                                    ],
                                                    'iDisplayLength': 12,
                                                    "sPaginationType": "full_numbers",
                                                    "dom": 'T<"clear">lfrtip',
                                                    "tableTools": {
                                                        "sSwfPath": "<?php echo base_url('assets2/js/Datatables/tools/swf/copy_csv_xls_pdf.swf'); ?>"
                                                    }
                                                });
                                                $("tfoot input").keyup(function () {
                                                    /* Filter on the column based on the index of this element's parent <th> */
                                                    oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                                                });
                                                $("tfoot input").each(function (i) {
                                                    asInitVals[i] = this.value;
                                                });
                                                $("tfoot input").focus(function () {
                                                    if (this.className == "search_init") {
                                                        this.className = "";
                                                        this.value = "";
                                                    }
                                                });
                                                $("tfoot input").blur(function (i) {
                                                    if (this.value == "") {
                                                        this.className = "search_init";
                                                        this.value = asInitVals[$("tfoot input").index(this)];
                                                    }
                                                });

                                                $('#' + tableID).ReStable({rowHeaders: false});
                                            }

                                            $(document).ready(function () {
                                                dataTableTableA('tableA');
                                            });

                                            function addAgentToSuperAgent(rec_id) {
                                                showBusyDialog();

                                                jQuery.ajax({
                                                    url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/users/assignToLeader/" + rec_id + "/{{ id }}/parent_id/" + new Date().getTime(), //This URL is for Json file
                                                    type: "GET",
                                                    dataType: "json",
                                                    success: function (data) {
                                                        console.log(data.toString());
                                                        hideBusyDialog();
                                                        console.log('data');
                                                        console.log(data);
                                                        console.log('data');


                                                        var tableRow = "";
                                                        tableRow += '<tr id="'+data.id+'" class="even" style="background:#c8f3d1;">';
                                                        tableRow += '<td style="width:1%; padding:8px 15px !important;" class=" sorting_1">'+data.id+'</td>';
                                                        tableRow += '<td class=" ">'+data.username+'</td>';
                                                        tableRow += '<td class=" ">'+data.firstName+'</td>';
                                                        tableRow += '<td class=" ">'+data.lastName+'</td>';
                                                        tableRow += '<td class=" ">'+data.username+'</td>';
                                                        tableRow += '<td class=" ">'+data.email+'</td>';
                                                        tableRow += '<td class=" ">2016-04-19</td>';
                                                        tableRow += '<td style="width:1%; padding:8px 15px !important;" class=" ">';
                                                        tableRow += '<a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/users/'+data.id+'/edit">edit</a>';
                                                        tableRow += '</td>';
                                                        tableRow += '</tr>';
                                                        
                                                        $("#tableA tbody tr#"+data.id).remove();
                                                        $("#tableA tbody tr:first-child").after(tableRow);

                                                        //$(tableRow).prepend($("#tableA tbody"));
                                                         
                                                    },
                                                    error: function () {
                                                        //Do alert is error
                                                    }
                                                });
                                            }
        </script>


    {% endblock %}