{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>Faq list</h1>

    <ul class="pull-right">
        <li>
            <a href="{{ path('faq_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Faqname</th>
                <th>Faqcontent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('faq_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.faqName }}</td>
                    <td>{{ entity.faqContent }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('faq_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('faq_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
