<!-- Mainly scripts -->

<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery-ui-1.10.0.custom.min.js') }}"></script>
<script src="{{ asset('assets/js/jtable/jquery.jtable.js') }}" type="text/javascript"></script>


<!--Validation -->

<script src="{{ asset('assets/js/validation/languages/jquery.validationEngine-en.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/js/validation/jquery.validationEngine.js') }}"></script>

<script src="{{ asset('assets/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('assets/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<!-- Flot -->
<script src="{{ asset('assets/js/plugins/flot/jquery.flot.js') }}"></script>
<script src="{{ asset('assets/js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ asset('assets/js/plugins/flot/jquery.flot.spline.js') }}"></script>
<script src="{{ asset('assets/js/plugins/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('assets/js/plugins/flot/jquery.flot.pie.js') }}"></script>
<script src="{{ asset('assets/js/plugins/flot/jquery.flot.symbol.js') }}"></script>
<script src="{{ asset('assets/js/plugins/flot/jquery.flot.time.js') }}"></script>

<!-- Peity -->
<script src="{{ asset('assets/js/plugins/peity/jquery.peity.min.js') }}"></script>
<script src="{{ asset('assets/js/demo/peity-demo.js') }}"></script>

<!-- Custom and plugin javascript -->
<script src="{{ asset('assets/js/inspinia.js') }}"></script>
<script src="{{ asset('assets/js/plugins/pace/pace.min.js') }}"></script>

<!-- iCheck -->
<script src="{{ asset('assets/js/plugins/iCheck/icheck.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $('input[type=radio].icheck, input[type=checkbox].icheck').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

<!-- jQuery UI -->

<script src="{{ asset('assets/js/core/utils.js') }}"></script>


