<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>{% block title %}Simreg!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{{ asset('assets/css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{{ asset('assets/js/plugins/gritter/jquery.gritter.css') }}" rel="stylesheet">

    <link href="{{ asset('assets/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/jquery-linedtextarea.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/languages.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/eregstyles.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/plugins/iCheck/custom.css') }}" rel="stylesheet">

    <link href="{{ asset('assets/custom-theme/jquery-ui-1.10.0.custom.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/js/jtable/themes/metro/lightgray/jtable.css') }}" rel="stylesheet" type="text/css"/>


    <link href="{{ asset('assets/js/validation/validationEngine.jquery.css') }}" rel="stylesheet" type="text/css"/>

    <script src="{{ asset('assets/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('assets/js/core/main.js') }}"></script>
    <script src="{{ asset('assets/js/biginteger.js') }}"></script>
    <style>
        @media (min-width: 768px) {
            .page-wrapper {
                position: inherit;
                margin: 0 0 0 220px;
                min-height: 640px;
            }
        }

        @media (min-width: 768px) {
            .page-wrapper {
                position: inherit;
                margin: 0 0 0 240px;
                min-height: 1000px;
            }
        }

        .page-wrapper {
            padding: 0 15px;
            min-height: 568px;
            position: relative !important;
        }

        .jtable-goto-page {
            display: none !important;
        }

        table.jtable .jtable td {
            background: #FE910D;
            color: #fff;
            font-weight: 600;
        }

        table.jtable .jtable th {
            background: #B36911;
            font-weight: 600 !important;
        }

        table.jtable div.jtable-main-container > div.jtable-title {
            background-color: #2F4050;
            padding-left: 10px;
        }

        table.jtable .jtable button {
            color: #2F4050;
        }

    </style>
    <style media="print">
        h1 {
            font-size: 20px;
        }

        #page-wrapper {
            width: 100% !important;
            font-size: 10px;
            margin: 0 !important;
            margin: 0 0 0 0;
        }

        .navbar-default {
            width: 0% !important;
            display: none;
        }

        .divider {
            margin: 5px;
        }
    </style>
</head>