<nav class="navbar-default navbar-static-side hidden-print" role="navigation">
    <div class="sidebar-collapse">

        <ul class="nav" id="side-menu">
            <li>
                <div class="dropdown profile-element">
                    <span>
                        <a href="{{ path('admin') }}">
                            <img alt="Simreg 2.0" style="width: 100%;" class="img-circle" src="{{ asset('assets/img/logo.png') }}" />
                        </a>
                    </span>
                </div>
                <div class="logo-element">
                    <a href="{{ path('admin') }}">
                        <img alt="Simreg 2.0" style="width: 55%; opacity: 0.85; " src="{{ asset('assets/img/logo-small.png') }}" />
                    </a>
                </div>
            </li>
            <li>
                <a href="{{ path('indexverify') }}"><i class="fa fa-table"></i> <span class="nav-label"> Verify Registrations</a></li>
            </li>
            
        </ul>

    </div>
</nav>
