{% extends '::index.html.twig' %}

{% block body %}

<div id="page-content" style="min-height: 190px;">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2> Biometric Verification</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin') }}">Home</a>
                </li>
                <li>
                    Reports
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="panel border-grey">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h2>
                            Verification reports
                        </h2>
                        <small>Select the report below to view </small>
                        <hr style="border: none">

                        <table class="table table-borderless" style="margin-bottom: 0">
                            <tbody>
                            <tr>
                                <th width="5%">1</th>
                                <td><a href="{{ path('biometric_region_report')  }}">Registration by Region and Territory</a></td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <td><a href="{{ path('biometric_agent_report')  }}">Registration by Agent and Quality Score</a></td>
                            </tr>

                            </tbody>
                        </table>
                        <hr style="margin-top: 0">
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% endblock %}



