{% extends '::simreg.html.twig' %} {% block body -%}


    <div class="col-xs-12 col-sm-8">
        <h1>{{ title_descr }}</h1>
    </div>
    <div class="col-xs-12 col-sm-4">
        <label class="regDone control-label">Registrations Done Today
            <br>
            <p class="text-navy regTally"></p>
        </label>
    </div>

    <style>
        .modal-open {
            overflow: hidden
        }

        label.regDone {
            float: right;
            text-align: right;
        }

        label.regDone p {
            font-size: 20px;
            text-decoration: underline;
        }

        .modal {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1040;
            display: none;
            overflow: auto;
            overflow-y: scroll
        }

        .modal.fade .modal-dialog {
            -webkit-transform: translate(0, -25%);
            -ms-transform: translate(0, -25%);
            transform: translate(0, -25%);
            -webkit-transition: -webkit-transform .3s ease-out;
            -moz-transition: -moz-transform .3s ease-out;
            -o-transition: -o-transform .3s ease-out;
            transition: transform .3s ease-out
        }

        .modal.in .modal-dialog {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0)
        }

        .modal-dialog {
            position: relative;
            z-index: 1050;
            width: auto;
            padding: 10px;
            margin-right: auto;
            margin-left: auto
        }

        .modal-content {
            position: relative;
            background-color: #fff;
            border: 1px solid #999;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 6px;
            outline: 0;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
            background-clip: padding-box
        }

        td p {
            margin-bottom: 25px;
        }

        .modal-backdrop {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1030;
            background-color: #000
        }

        .modal-backdrop.fade {
            opacity: 0;
            filter: alpha(opacity=0)
        }

        .modal-backdrop.in {
            opacity: .5;
            filter: alpha(opacity=50)
        }

        .modal-header {
            min-height: 16.428571429px;
            padding: 15px;
            border-bottom: 1px solid #e5e5e5
        }

        .modal-header .close {
            margin-top: -2px
        }

        .modal-title {
            margin: 0;
            line-height: 1.428571429
        }

        .modal-body {
            position: relative;
            padding: 20px
        }

        .modal-footer {
            padding: 19px 20px 20px;
            margin-top: 15px;
            text-align: right;
            border-top: 1px solid #e5e5e5
        }

        .modal-footer:before,
        .modal-footer:after {
            display: table;
            content: " "
        }

        .modal-footer:after {
            clear: both
        }

        .modal-footer:before,
        .modal-footer:after {
            display: table;
            content: " "
        }

        .modal-footer:after {
            clear: both
        }

        .modal-footer .btn + .btn {
            margin-bottom: 0;
            margin-left: 5px
        }

        .modal-footer .btn-group .btn + .btn {
            margin-left: -1px
        }

        .modal-footer .btn-block + .btn-block {
            margin-left: 0
        }

        @media screen and (min-width: 768px) {
            .modal-dialog {
                width: 600px;
                padding-top: 30px;
                padding-bottom: 30px
            }

            .modal-content {
                -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
            }
        }

        .tooltip {
            position: absolute;
            z-index: 1030;
            display: block;
            font-size: 12px;
            line-height: 1.4;
            opacity: 0;
            filter: alpha(opacity=0);
            visibility: visible
        }

        .reg_img {
            border: 1px solid #C3C3C3;
            padding: 3px;
            border-radius: 4px;
            height: 102px;
            width: auto;
        }

        table.multi_regs {
            width: 100%;
        }

        table.multi_regs td {
            border: 1px solid #9C9C9C;
            padding: 10px;
        }

        table.multi_regs td ul li {
            font-size: 10px;
        }

        table.multi_regs th {
            padding: 8px;
            border: 1px solid #9C9C9C;
            font-weight: 600;
        }

        .cchecks {
            display: inline-block;
            padding: 7px 15px;
            margin: -15px 0;
            border-radius: 4px;
        }

        .inactivated {
            background: #9C9C9C !important;
            pointer-events: none !important;
        }

        .regimagee {
            width: 190px;
            border: 1px solid #bbbbbb;
            padding: 3px;
            border-radius: 4px;
        }

        #cboxLoadedContent {
            padding: 20px;
        }

        .jtable thead tr th:nth-child(4),
        .jtable tbody tr td:nth-child(4) {
            display: none !important
        }

        p.msgg {
            color: #F7F7F7;
            font-weight: 600;
            background: #23C6C8;
            padding: 5px 10px;
            margin-bottom: 10px;
            border: 1px solid rgba(35, 198, 200, 0);
            border-radius: 4px;
            margin: 10px;
        }

        .quick_form {
            background: rgb(239, 242, 249);
            border: none;
            border-radius: 4px;
            margin-bottom: 20px;
            padding: 15px 25px;
        }

        .quick_form .form-group {
            margin-bottom: 10px;
        }

        .quick_form input[type="file"] {
            background: transparent;
            outline: none;
        }

        .separator-2,
        .separator-3 {
            width: 100%;
            margin-bottom: 15px;
            position: relative;
            height: 1px;
        }

        .separator-2:after {
            height: 1px;
            background: #d1d1d1;
            background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.18)), color-stop(35%, rgba(0, 0, 0, 0.12)), color-stop(70%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
            background: -o-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
            background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            bottom: -1px;
            left: 0px;
            content: "";
            width: 100%;
        }

        .form-control {
            display: block;
            width: 87%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            background-color: #fff;
            background-image: none;
            border: 1px solid #DDE2E8;
            border-radius: 0px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .form-cxontrol {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: #ffffff;
            height: 40px;
            padding-right: 30px;
            border-color: #e1e1e1;
            color: #777777;
            position: relative;
            -webkit-appearance: none;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
        }

        .form-control-lg {
            height: 48px;
        }

        /* Small devices (tablets, phones 481px and up) */

        @media (min-width: 481px) {
            .form-control-lg {
                min-width: 350px;
            }
        }

        .form-control:focus {
            border-color: #999999;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
        }

        select.form-control {
            padding-right: 5px;
            -webkit-appearance: menulist;
        }

        select[multiple].form-control {
            -webkit-appearance: listbox;
        }

        .form-control::-moz-placeholder {
            color: inherit;
        }

        .form-control:-ms-input-placeholder {
            color: inherit;
        }

        .form-control::-webkit-input-placeholder {
            color: inherit;
        }

        .input-group-addon {
            background-color: #f1f1f1;
            border-color: #e1e1e1;
        }

        .form-list > div {
            padding: 7px 15px;
            border-bottom: 1px solid #dddddd;
            background-color: #f3f3f3;
            margin: 6px 0;
            display: block;
        }

        form label,
        .radio label,
        .checkbox label {
            font-weight: 300;
        }

        .paginatn {
            margin-left: 30%;
            margin-top: 25px;
        }

        .paginatn a {
            margin: 5px;
            border: 1px solid #CECECE;
            padding: 5px 8px;
            border-radius: 5px;
            margin-top: 15px;
        }

        ::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */

            color: #B1B1B1;
        }

        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */

            color: #B1B1B1;
            opacity: 1;
        }

        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */

            color: #B1B1B1;
            opacity: 1;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */

            color: #B1B1B1;
        }

        :placeholder-shown {
            /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */

            color: #B1B1B1;
        }

        #hearts {
            color: #ee8b2d;
        }

        #hearts-existing {
            color: #ee8b2d;
        }

        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .lead {
            margin-bottom: 0px;
            font-size: 30px;
            font-weight: 300;
            line-height: 1.4;
        }

        .rate_descr {
            margin: 0 0 10px 0;
            height: 34px;
            border: 1px solid #9C9C9C;
            box-shadow: none;
            padding-left: 0;
            font-size: 10px;
            border-radius: 4px;
        }

        .rate_progress {
            width: 100%;
            text-align: right;
            margin-top: 0px;
        }

        .cchecks span {
            float: left;
            width: 90%;
        }

        .cchecks input {
            width: 6%;
            float: left;
            margin-top: 4px;
            box-shadow: none;
        }

        div.jtable-main-container > table.jtable > tbody > tr.jtable-data-row > td {
            padding: 15px;
        }

        .malemma {
            border: 3px solid #4e4e4e;
            width: 50px;
            height: 59px;
            font-size: 20px;
            text-align: center;
            border-radius: 50% 0% 0 50%;
            line-height: 53px;
            color: #23c6c8;
            margin: 1px 0 -59px -43px;
            z-index: 99999999;
            background: #f3f3f4;
        }
    </style>




    <script src="{{ asset('assets/js/jquery.confirm.js') }}"></script>

    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>



    <div class="row">

    </div>


    <div class="regCountt malemma">
        <div class=""></div>
    </div>
    <div id="RegistrationsTableContainer" class="lightBoxGallery"></div>

    <br/>
    <br/>



    <div class="audit_rate" style="display:none">
        <div class="lloading" style="margin-bottom:10px; display:none;">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i>
        </div>

        <button class="simpleConfirm btn btn-info btn-circle btn-lg" aaction="approve" class="btn btn-primary"><i
                class="fa fa-check"></i>
        </button>

        <button style="margin-bottom:10px;" data-toggle="tooltip" aaction="decline" data-placement="top" title="Decline"
                class="simpleDecline btn btn-danger btn-circle btn-lg" type="button">
            <i class="fa fa-times"></i>
        </button>

    </div>

    <a href="" style="color:#fff !important;" data-toggle="modal" id="myModallink" data-target="#myModal" keyboard=""
       show="1" backdrop="static">.</a>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class=" modal-lg modal-dialog">
            <div class="modal-content" style="padding:25px;"></div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">


    <link rel="stylesheet" href="{{ asset('assets/colorbox.css') }}"/>
    <script src="{{ asset('assets/jquery.colorbox.js') }}"></script>
    <script src="{{ asset('assets/js/core/registrations.js') }}"></script>
    <script src="{{ asset('assets/js/core/agents.js') }}"></script>




    <div id="allowTText" style="display:none;">
        <div class="cchecks">
            <input type="checkbox" class="allowDescr" name="allowDescr" value="validPlainText"> <span><strong>Correct Customer Names [<i>Matches ID</i>]</strong></span>
            <input type="checkbox" class="allowDescr rall bad rate_descr2" name="allowDescr" value="validPortrait">
            <span><strong>Portrait Image matches ID</strong></span>
            <input type="checkbox" class="allowDescr rall bad rate_descr2" name="allowDescr" value="validIdFront">
            <span><strong>Clear Portrait Image</strong></span>
            <input type="checkbox" class="allowDescr rall bad rate_descr2" name="allowDescr" value="validIdBack"> <span><strong>Clear ID Image</strong></span>
        </div>
    </div>




    <div id="declineTText" style="display:none;">

        <style>
            .disallowed {
                color: #cacaca;
                cursor: not-allowed;
            }
        </style>
        <div class="cchecks">

            <input type="checkbox" class="rall bad rate_descr2" name="rate_descr2" value="invalid_name"> <span><strong>Incorrect Names [<i>Don't match ID</i>]</strong></span>
            <input type="checkbox" class="rall bad rate_descr2" name="rate_descr2" value="invalid_portrait">
            <span><strong>Incorrect Portrait Image  [<i>Doesn't match ID</i>]</strong></span>
            <input type="checkbox" class="rall bad rate_descr2" name="rate_descr2" value="blur_portrait_image">
            <span><strong>Blur Portrait Image</strong></span>
            <input type="checkbox" class="rall bad rate_descr2" name="rate_descr2" value="blur_id_images">
            <span><strong>Blur ID Image</strong></span>
            <div class="clearfix"></div>
            <br/>
            <div class="disallowed">
                <input disabled="disabled" type="checkbox" class="rall bad rate_descr2" name="rate_descr2"
                       value="invalid_name"> <span class="bad">Invalid Name</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="incorrect_gender"> <span>Incorrect Gender</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="incorrect_dOB"> <span>Incorrect DOB</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="incorrect_nationality"> <span>Incorrect Nationality</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="wrong_id_type"> <span>Wrong ID Type</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="invalid_id"> <span>Invalid ID #</span>
                <input disabled="disabled" type="checkbox" class="rall fair hidden rate_descr2" name="rate_descr2"
                       value="blur_portrait"> <span class="fair hidden">Blur Portrait</span>
                <input disabled="disabled" type="checkbox" class="rall bad rate_descr2" name="rate_descr2"
                       value="invalid_portrait"> <span class="bad">Invalid Portrait</span>
                <input disabled="disabled" type="checkbox" class="rall fair hidden rate_descr2" name="rate_descr2"
                       value="blur_id_images"> <span class="fair hidden">Blur ID images</span>
                <input disabled="disabled" type="checkbox" class="rall bad rate_descr2" name="rate_descr2"
                       value="invalid_id_images"> <span class="bad">Invalid ID images</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="invalid_customer_signature"> <span>Invalid Cust Sig</span>
            </div>
        </div>

    </div>

    <script>
                $(document).ready(function () {
        console.log('ªªªªªªªªªªªªªªªª: docready ');
                var startStart = 1;
                if (startStart === 1) {
        console.log('ªªªªªªªªªªªªªªªª: start == 1 ');
                getTallyCount();
                startStart++;
        }
        getRegionsCode();
                //if no records pull
                setInterval(function () {
                console.log('ªªªªªªªªªªªªªªªª: SETinterval ya 3000 ');
                        console.log('----CHECKING IF NO RECORDS---- -- - - - --  ');
                        var attr = $('.jtable tbody tr td:first-child').attr('colspan');
                        if (typeof attr !== typeof undefined && attr !== false) {
                console.log('------ IPO colspan :: TRY RELOADING TABLE -11111111111111111111--- -- -- - -- - -- -');
                        verifyRegistrationsTables({{ numRows }});
                } else {
                console.log('HAKUNA colspan111111111111111111111111');
                }
                }, 15000);
        });
                function ImagecounterChecker() {
                console.log('ªªªªªªªªªªªªªªªª: ImagecounterChecker function  ');
                        // - ---- counter checker
                        var startcounter = 0;
                        var counterSet = true;
                        var image_initiate_reload = 0;
                        var retry_flag = 0;
                        var timeOutChecker = setInterval(function () {
                        image_initiate_reload++;
                                console.log("MU - ::::::::req_image_count: " + req_image_count + "  :: image_count: " + image_count);
                                if (image_count >= 3 && req_image_count >= 3 && counterSet === true) {
                        console.log('ªªªªªªªªªªªªªªªª: setInterval ya 1000 ');
                                //$('.jtable tbody tr').attr('class')
                                $('.jtable tbody tr').each(function (ii, objj) {

                        console.log('ªªªªªªªªªªªªªªªª: INJECT AUDIT BUTTONS AND TIMER ');
                                console.log('registrationid: ' + $(this).attr('data-record-key') + ' id: ' + $(this).attr('data-recid'));
                                injectAuditRating($(this).attr('data-record-key'), 'verify', $(this).attr('data-recid'));
                                setCounter();
                                actionListen();
                        });
                                counterSet = false;
                                clearInterval(timeOutChecker);
                        }

                        if (image_initiate_reload % 5 == 0){
                            console.log('Called RetryRe-initiateImageReload BEFORE::: retry_flag: ' + retry_flag + ' image_count: ' + image_count + ' req_image_count: ' + req_image_count );
                        reInitiateImageLoading(record_row);
                        image_count = 0; req_image_count = 0;
                            console.log('Called RetryRe-initiateImageReload AFTER::: retry_flag: ' + retry_flag + ' image_count: ' + image_count + ' req_image_count: ' + req_image_count );
                                if (retry_flag > 3){
                        //fucking give up load another reg
                        console.log('//fucking give up load another reg');
                                getTallyCount();
                                //cancel that rcord
                                jQuery.ajax({url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/updateRecordImage/"+record_row+"/" + new Date().getTime(), //This URL is for Json file
                                        type: "GET",
                                        dataType: "json",
                                        success: function (data) {
                                        console.log('ANTOO: Record Cancelled');
                                        },
                                        error: function () {
                                        //Do alert is error
                                        }
                });
                        }

                        retry_flag++;
                        }

                        }, 1000);
                        // - ---- counter checker
                }
    </script>

    <script>
        var timeoutId = "firstDivId";
                var timeouttr = "";
                var refreshCounter = {{ numRows }} + 1;
                var className = "malemma";
                timeouttr += '<tr><td></td><td colspan="4" style="height:188px; text-align:center;">';
                timeouttr += '<h2>Registration Verification Timeout</h2>';
                timeouttr += '<p>Your session has timed out.. The registration that you were working on has been thrown back to the regPool. Click the link below to continue registration verification</p>';
                timeouttr += '<a class="btn btn-default resettable">Continue Verification</a>';
                timeouttr += '</td></tr>';
                function setCounter() {
                console.log('ªªªªªªªªªªªªªªªª: setCounter function  ');
                        console.log('timeoutId Before: ' + timeoutId);
                        clearTimeout(timeoutId);
                        timeoutId = setTimeout(function () {
                        //ajax call to reset record
                        $('.jtable tbody').html(timeouttr);
                                console.log('refreshCounter--refreshCounter : ' + refreshCounter);
                                $('.resettable').click(function () {
                        getTallyCount();
                        });
                        }, {{ secsCount }} * 1000
                                )
                        ;
                        console.log('timeoutId After: ' + timeoutId);
                        className = timeoutId;
                        $('.regCountt').html('<div class="' + className + '"></div>');
                        timeoutCounter(className);
                }


        function timeoutCounter(className) {
        var counter = {{ secsCount }};
                function setPerSecCountDownTimer() {
                counter = counter - 1;
                        $('.malemma .' + className).html(counter);
                        setTimeout(function () {
                        if (counter > 0) {
                        setPerSecCountDownTimer();
                        }
                        }, 1000);
                }

        setPerSecCountDownTimer();
        }

        function monitorrefreshCounter() {
        var attr = $('.jtable tbody tr td:first-child').attr('colspan');
                if (typeof attr !== typeof undefined && attr !== false) {
        console.log('------ IPO colspan :: TRY RELOADING TABLE ---- 2222222222222222222-- -- - -- - -- -');
                verifyRegistrationsTables({{ numRows }});
        } else {
        console.log('HAKUNA colspan22222222222222222222');
                verifyRegistrationsTables({{ numRows }});
                refreshCounter = {{ numRows }};
                //timeoutCounter(timeoutId);
                ImagecounterChecker();
                console.log('¶¶¶¶¶¶¶¶¶¶¶¶¶' + timeoutId);
                clearInterval(timeoutId);
                console.log('¶¶¶¶¶¶¶¶¶¶¶¶¶' + timeoutId);
        }
        //----
        }

        function getTallyCount() {
        $('.malemma .' + className).remove();
                image_count = 0;
                retry_flag = 0;
                image_initiate_reload = 0;
                req_image_count = 0;
                monitorrefreshCounter();
                jQuery.ajax({url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/verifyRecordsCount/{{ user_id }}/" + new Date().getTime() + "/" + new Date().getTime(), //This URL is for Json file
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                        $('.regTally').html(data.ccount);
                        },
                        error: function () {
                        //Do alert is error
                        }
                });
        }


    </script>

{% endblock %}