{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <button type="button" class="btn btn-primary btn-ms" data-toggle="modal" data-target="#bulkUploadModal">
                    Agent bulk Upload
                </button>
                
                
                <a href="https://zantellive.registersim.com/assets/ZantelTemplateBulkCreateAdminUsers.csv" class="btn btn-primary btn-ms">Download Template</a>
            </div>
        </div>
    </div>


    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-bottom:15px;">
            <div class="col-xs-12 respmsg"></div>
        </div>
        
        <div id="bulkUploadModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Agent bulk upload</h4>
                    </div>
                    <div class="modal-body">
                        <form id="bulkUploadModalForm">
                            <div class="form-group">
                                <label for="bulkuploadfile" class="control-label">File:</label>
                                <input type="file" class="form-control" placeholder="select file " id="bulkuploadfile"
                                       name="bulkuploadfile">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="uploadAdminUsers();">Upload
                        </button>
                    </div>
                </div>
            </div>
        </div>
        

        <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
        <script src="{{ asset('assets/js/core/device_configuration.js') }}"></script>
        <script src="{{ asset('assets/js/core/agents.js?ver=3452345') }}"></script>

        <script>
                            $(document).ready(function () {

                                getRegions2();
                                if (document.getElementById('multiple_devices').checked) {
                                    document.getElementById('number_devices').style.display = 'block';
                                } else {
                                    document.getElementById('number_devices').style.display = 'none';
                                }

                                $("#datepickers").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    minDate: "-100Y",
                                    maxDate: "-18Y"
                                });
                                /**
                                 * handler for agent form modal validation
                                 */
                                jQuery("#addAgentModalForm").validationEngine('attach', {
                                    onValidationComplete: function (form, status) {
                                        if (status) {
                                            addAgent();
                                        }
                                    }
                                });
                                /**
                                 * load forms
                                 */
                                SetDisableActivateChoosing();
                                loadAgentsTables();

				//get user roles
                                var userRoles = " {{user_role}} ";
                                var found = userRoles.search("BASIC_ROLE_ADMIN");
                                if(found != -1){
                    				//Prevent this user from creating new Agents
                                	$("#new_agent_button").hide();
                                	console.log(userRoles + "Yeii role found");
                                    }else{
                                    	console.log(userRoles + "Role NOT FOUND");
                                        }

                            });

                            var rolesJson = "{{ user_role }}";
                            var showeditField = false;
            
                            function SetDisableActivateChoosing() {                                
                                setTimeout(function () {
                                    console.log("rolesJson: " + rolesJson);
                                    if (rolesJson.indexOf("ROLE_ADMIN") >= 0 || rolesJson.indexOf("SUPERVISOR_ROLE_ADMIN") >= 0) {
                                        showeditField = true;
                                        console.log("YESS hapa" + showeditField);
                                    } else {
                                        showeditField = false;
                                        console.log("NOOO hapa" + showeditField);
                                    }
                                }, 1000);
                            }
        </script>


        <!-- form validation -->
        <script type="text/javascript" src="{{ asset('assets/js/parsley/parsley.min.js') }}"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                $.listen('parsley:field:validate', function () {
                    validateFront();
                });
                $('#addAgentModalForm .btn').on('click', function () {
                    var msisdn = $('#msisdn').val();
                    var last_9 = msisdn.slice(-9);

                    arrayNumbers = ['071', '065', '067'];

                    if (jQuery.inArray(0 + last_9.substring(0, 2), arrayNumbers) === -1) {
                        //(msisdn.length <= 9 && msisdn.length >= 13) && 
                        alert('Please Enter a valid Tigo Number');
                    } else {
                        $('#addAgentModalForm').parsley().validate();
                        validateFront();
                        $('#addAgentModalForm').submit();
                    }

                });
                var validateFront = function () {
                    if (true === $('#addAgentModalForm').parsley().isValid()) {
                        $('.bs-callout-info').removeClass('hidden');
                        $('.bs-callout-warning').addClass('hidden');
                    } else {
                        $('.bs-callout-info').addClass('hidden');
                        $('.bs-callout-warning').removeClass('hidden');
                    }
                };
            });
            try {
                hljs.initHighlightingOnLoad();
            } catch (err) {
            }
        </script>
        <!-- /form validation -->

    {% endblock %}
