{% extends '::simreg_actions.html.twig' %}



{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a  href="#newArtist" class="btn btn-primary btn-ms" onclick="loadNewAgentForm(event)">New Agent</a>
                <a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelectorMessage(event)"
                   id="btn-topic-select">Publish Message</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <div class="alert alert-success">
                            Access token for {{ mobileNumber }} is 
                            <h3>{{ accessToken }}</h3>
                        </div>


                        <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
                            <thead>
                                <tr>
                                    <th style="width:1%; padding:8px 15px !important;">Id</th>
                                    <th>MSISDN</th>
                                    <th>Firstname</th>
                                    <th>LastName</th>
                                    <th>Confirmation Token</th>
                                    <th style="width:14%; text-align: right; padding:8px 15px !important;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in agents %}
                                    <tr>
                                        <td style="width:1%; padding:8px 15px !important;">{{ row.id }}</td>
                                        <td>{{ row.mobileNumber }}</td>
                                        <td>{{ row.firstName }}</td>
                                        <td>{{ row.lastName }}</td>
                                        <td>{{ row.confirmationToken }}</td>
                                        <td style="width:1%; padding:8px 15px !important;">
                                            <ul class="list-inline pull-right">
                                                <li><a class="btn btn-default btn-xs" href="#" onclick="editAgent(event)">Edit</a></li>
                                                <li><a class="btn btn-default btn-xs" href="#" onclick="editAgent(event)">Deactivate</a></li>
                                                <li><a class="btn btn-primary btn-xs"  href="">Create Access Token</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div id="addAgentModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Agent</h4>
                    </div>
                    <form role="form" lpformnum="1" _lpchecked="1" id="addAgentModalForm">
                        <div class="modal-body row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="enter first name" required >
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="middleName" name="middleName" placeholder="enter middle name (optional)" >
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="enter last name" required >
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="msisdn" name="msisdn" placeholder="assign mobile number" required >
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="enter email address (optional)" onchange="validateEmail();">
                                </div>
                                <div class="form-group">
                                    <label for="dob">Date of Birth:</label>
                                    <input type="date" class="form-control" id="dob" name="dob">
                                </div>

                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" id="gender" name="gender">
                                        <option value="1">MALE</option>
                                        <option value="2">FEMALE</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="userType">User Type</label>
                                    <select class="form-control" id="userType" name="userType"></select>
                                </div>

                                <div class="form-group">
                                    <label for="region">Region</label>
                                    <select class="form-control" id="region" name="region"></select>
                                </div>
                                <div class="form-group">
                                    <label for="territory">Territory</label>
                                    <select class="form-control" id="territory" name="territory"></select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="agentcode" name="agentcode" placeholder="enter Agent Code (Optional)" >
                                </div>

                                <div class="form-group">
                                    <label for="territory">Agent Exclusivity</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="agent_exclusivity" value="1" name="agent_exclusivity"> Make agent eclusive. Exclusive agent can not add other MNOs 
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="territory">Allow multiple devices</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked="checked" name="multiple_devices" class="multiple_devices" onChange="multiple_devices_check()" value=""> Allow multiple devices
                                        </label>
                                        <input type="number" min="1" class="form-control number_devices" id="number_devices" name="number_devices" placeholder="Number Of Devices" value="1" required="required">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addAgent(event);">Add Agent</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="publishMessageFormModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Publish Message</h4>
                    </div>
                    <div class="modal-body">
                        <form id="publishDyanmicFormModalForm">
                            <div class="form-group">
                                <label for="form-topic" class="control-label">Topic:</label>
                                <select class="form-control" id="form-topic" name="form-topic">
                                    <option>CLICK TO SELECT</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="form-topic" class="control-label">Message:</label>
                                <textarea class="form-control" style="height:150px;" placeholder="Enter message to be sent"></textarea>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                onclick="publishDynamicForm(event);">Publish
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('assets/js/core/agents.js') }}"></script>
    {% endblock %}