{% extends '::index.html.twig' %}

{% block body -%}

    <div class="wrapper wrapper-content" style="min-height:800px;">

        <style>
            .over_ly img{
                margin: 0 auto;
                display: block;
            }
            .row.counter_for_verifiers,
            .row.idle_time_for_verifiers{
                margin-left: 20px;
            }
            .row.verifier_agent_row .col-lg-1,
            .row.verifier_agent_row .col-lg-6{
                margin: 0 !important;
                padding: 0 !important;
            }
            .row.verifier_agent_row .col-lg-1 {
                width: 4%;
            }
            
            @media (min-width: 700px){
                .col-lg-3.topSSummary {
                    width: 20%;
                }
            }
            .ibox-content .header-row .col-lg-3,
            .counter_for_verifiers .col-lg-3{
            text-align:right;
            }
        </style>
        
        <div class="row" style="">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="col-md-3" style="margin:0; padding:0; width: 60px; float: right;">
                    <button type="submit" id="filter_button" class="btn medium bg-blue" style="height:32px;">
                        <span class="button-content"><i class="fa fa-search"></i> Filter</span>
                    </button>
                </div>

                <div class="col-md-9" style="float:right; ">
                    <div class="" style="overflow: auto">
                        <form>
                            <div id="reportrange" class="pull-right" style="z-index: 1004; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span id="reports_search"></span> <b class="caret"></b>
                            </div>
                            <input name="dashboard_range" id="dashboard_range" hidden />
                            <input name="dashboard_filter" id="dashboard_range" value="12" hidden />

                    </div>
                </div>

                <div class="clearfix"></div>
                </form>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="text-align: center; border-bottom:1px solid #A3A3A3; padding-bottom: 6px; margin-bottom:12px;"></div>
        <div class="clearfix"></div>
        <!-- **************************************************************************************** -->


        <div class="row">
            <div class="col-lg-12">
                <!--<h5>User Role is:{{ akuku }}</h5>-->
            </div>
            
            <div class="col-lg-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Total Registrations</h5>
                    </div>
                    <div class="ibox-content">
                        <p><small><small>Total Received Registrations</small></small></p>
                        <h1 class="no-margins" id="total"></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Pending Verification</h5>
                    </div>
                    <div class="ibox-content">
                        <p><small><small>Not yet verified</small></small><p>
                        <h1 class="no-margins" id="pending"></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Good Registrations</h5>
                    </div>
                    <div class="ibox-content">
                        <p><small>Registrations rated good</small></p>
                        <h1 class="no-margins" id="good"></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Fair Registrations</h5>
                    </div>
                    <div class="ibox-content">
                        <p><small>Registrations rated fair</small></p>
                        <h1 class="no-margins" id="fair"></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Bad Registrations</h5>
                    </div>
                    <div class="ibox-content">
                        <p><small>Registrations rated bad</small></p>
                        <h1 class="no-margins" id="bad"></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Registrations Graph Sumamry by Hour <span id="ttime">for day</span></strong></h5>
                        <div class="pull-right">

                        </div>
                    </div>
                    <div class="ibox-content" style="height:310px">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="flot-chart">
                                    <div style="padding: 0px; position: relative;">
                                        <div class="over_ly graph_div">
                                            <img src="{{ asset('assets/img/loader-light.gif') }}" />
                                        </div>
                                        <div id="drawlline">
                                            <canvas id="lineChart" height="60"></canvas>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3" >

                                <div class="row">

                                    <div class="col-lg-12" style="margin-top: 20px;">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Average Verification Time</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <p><small>Avarage time agent takes to do verification</small></p>
                                                <h1 class="no-margins" id="verifyLock"></h1>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>                           
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Daily Verification Summary</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">

                            <div class="over_ly table_loading" style="display:none;text-align:center;margin:50px;">
                                <img src="{{ asset('assets/img/loader-light.gif') }}" />
                            </div>

                            <div class="active_agents">
                                <div class="resutlstable">
                                    <table id="active_a" class="table table-striped table-bordered table-hover"></table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



            <!-- counter_for_verifiers -->
            <div class=" col-xs-12 col-sm-5 col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Verifiers Counts <small>(shows only the ones active today)</small></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row header-row">
                            <div class="col-lg-7">Verifier Name</div>
                            <div class="col-lg-3">Today Count</div>
                        </div>
                        <div class="row counter_for_verifiers">

                        </div>
                        
                        
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Verifiers Idle Time</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row header-row">
                                <div class="col-lg-6">Verifier Name</div>
                                <div class="col-lg-3">Idle Time</div>
                            </div>
                            <div class="row idle_time_for_verifiers">

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheetafter  %}
    <style>
        .over_ly img{
            margin: 0 auto;
            display: block;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/plugins/chartJs/Chart.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
    <!-- Datatables -->
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.tableTools.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tools/js/dataTables.tableTools.js') }}"></script>
    <script>
        function dataTableTableA(tableID) {
            var asInitVals = new Array();
            $('#' + tableID).dataTable({
                "oLanguage": {
                    "sSearch": "Search all columns:"
                },
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [0]
                    } //disables sorting for column one
                ],
                'iDisplayLength': 12,
                "sPaginationType": "full_numbers",
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "<?php echo base_url('assets2/js/datatables/tools/swf/copy_csv_xls_pdf.swf'); ?>"
                }
            });
            $("tfoot input").keyup(function () {
                /* Filter on the column based on the index of this element's parent <th> */
                oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
            });
            $("tfoot input").each(function (i) {
                asInitVals[i] = this.value;
            });
            $("tfoot input").focus(function () {
                if (this.className == "search_init") {
                    this.className = "";
                    this.value = "";
                }
            });
            $("tfoot input").blur(function (i) {
                if (this.value == "") {
                    this.className = "search_init";
                    this.value = asInitVals[$("tfoot input").index(this)];
                }
            });

            $('#' + tableID).ReStable({rowHeaders: false});
        }
    </script>






    <script type="text/javascript">
        var hourlySummaryURL = function (start, end, hidettime) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/hourly_summary/" + start + "/" + end + "/" + new Date().getTime();
        };
        var avarageVerificationTimeURL = function (start, end, hidettime) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/avarage_verification_time/" + start + "/" + end + "/" + new Date().getTime();
        };
        var ccountVerifysummaryURL = function (start, end) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/ccount_verifysummary/" + start + "/" + end + "/" + new Date().getTime();
        };
        var verifierIdleTimeURL = "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/verifier_idle_time";
        var verifierTodayCountURL = "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/verifier_today_count";
                var startDate = {{ ddate|date('Y-m-d') }};
                var endDate = {{ ddate|date('Y-m-d') }};
    </script>

    <script type="text/javascript" src="{{ asset('assets/js/core/index.verifier.min.js') }}"></script>

    <!-- daterangepicker -->
    <script type="text/javascript" src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/datepicker/daterangepicker.js') }}"></script>
    <!-- datepicker -->
    <script type="text/javascript">
        
                $(document).ready(function () {
                    var $verifyer_date_startDate = "{{ date_start }}";
                    var $verifyer_date_endDate = "{{ date_today }}";
                    plotreportAgents($verifyer_date_startDate, $verifyer_date_endDate);

                    setInterval(function () {
                        var t = $("#reports_search").text(),
                        i = t.split(" - "),
                        $verifyer_date_startDate = $.datepicker.formatDate("yy-mm-dd", new Date(i[0])),
                        $verifyer_date_endDate = $.datepicker.formatDate("yy-mm-dd", new Date(i[1]));
                        plotreportAgents($verifyer_date_startDate, $verifyer_date_endDate);
                    }, 30000);


            var cb = function (start, end, label) {
                //console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(1, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: moment().format('DD/MM/YYYY'),
                dateLimit: {
                    days: 460
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            //$('#reportrange span').html(moment().subtract(1, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange span').html("{{ date_start|date('F d, Y') }} - {{ date_today|date('F d, Y') }}");
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                //console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                //console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                //console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                //console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });





        function plotreportAgents(start, end) {

            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/verify_daily_report/" + start + "/" + end + "/" + new Date().getTime()+"/12", //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    //console.log(data.toString());
                    var num = 0;
                    var total = 0;
                    var append_data = "";
                    $(".over_ly.table_loading").hide();

                    $('.resutlstable').html('');
                    $('.resutlstable').html('<table id="active_a" class="table table-striped table-bordered table-hover"></table>');

                    $('.ttitles').show();
                    $('#active_a').append("<thead style='font-size: 12px;'><tr>\n\
                            <th>#</th><th>Date</th><th>Reg Total</th>\n\
                            <th style='background:#EAF1ED'>Good</th>\n\
                            <th style='background:#F1EAEA;'>Fair</th>\n\\n\
                            <th style='background:rgba(160, 24, 24, 0.24);'>Bad</th>\n\
                            </tr></thead><tbody></tbody>");
                    //{"sum_regs":"7","agent_id":9,"agent_names":"HABIB MBULLY","username":"765590928","territory_name":"mtwara","region_name":"Coast","created_on":"2016-03-17"}
                    $.each(data, function (index, val) {
                        num = num + 1;
                        total = parseInt(total) + parseInt(val.count);

                        append_data = "<tr style='height:1px;'>\n\
                                        <td style='padding:2px;'>" + num + "</td>\n\
                                        <td style='text-align:left;' class='ant_td'>" + val.created_on + "</td>\n\
                                        <td class='ant_td'>" + val.sum_total + "</td>\n\\n\
                                        <td class='ant_td' style='background:#EAF1ED'><a href='verify_daily_reports_detail/" + val.created_on + "/1'>" + val.sum_good + "</a></td>\n\
                                        <td class='ant_td' style='background:#F1EAEA;'><a href='verify_daily_reports_detail/" + val.created_on + "/2'>" + val.sum_fair + "</a></td>\n\\n\
                                        <td class='ant_td' style='background:rgba(160, 24, 24, 0.24);'><a href='verify_daily_reports_detail/" + val.created_on + "/3'>" + val.sum_bad + "</a></td>\n\
                                        </tr>";
                        $(append_data).appendTo($("#active_a tbody"));
                    });

                    //dataTableTableA("active_a");

                },
                error: function () {
                    //Do alert is error
                }
            });


        }
    </script>
{% endblock %}
