{% extends '::base.html.twig' %}

{% block body -%}
    <div id="page-content" style="min-height: 190px;">

        <div class="content-box border-top border-blue-alt mrg25B">

            <script src="{{ asset('assets/js/jquery.confirm.js') }}"></script>

            <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>


            <h3 class="content-header">
                Registration Information |
                <small>Form : Registration Date : {{ entity.createdDate|date('Y-m-d H:i:s') }}</small>
                <div class="float-right">
                    <a data-foo="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/verifyaction_registrations/{{ datetime }}/{{ id }}/approved/approve_overide" class="btn overrideLink medium btn-success no-shadow"><i
                            class="glyph-icon icon-arrow-left" style="float:left; margin-left:8px;"></i><span
                            class="button-content">Approve</span></a>
                    <!--<a href="javascript:;" class="btn medium bg-gray b1" title="">
                        <i class="glyph-icon icon-file-o" style="float:left; margin-left:8px;"></i>
                        <span class="button-content">Print</span>
                    </a>-->
                </div>
            </h3>
            <div class="divider" style="margin: 33px 10px 6px 10px;"></div>
            <div class=" content-box-wrapper PrintArea area1" id="Retain">

                <div class="col-md-12 visible-print-block"
                     style="border-bottom:1px solid grey; height:50px; overflow: hidden">
                    <div style="width:70px; float: left">

                    </div>
                    <div style="width:60%; float: left">
                        <h3 style="margin:0; margin-top: 10px">Sim Registration Information</h3>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-7 col-xs-7">
                    <div>

                        <style>table.reg_info td {
                                padding: 8px 15px;
                            }
                            b{color:#2c7ebf}
                            .modimg img{
                                width:100%; padding: 5px; border: 1px solid #eee; border-radius: 4px;
                            }</style>
                        <table class="table reg_info table-striped ">
                            <tbody>
                                <tr>
                                    <td>Firstname</td>
                                    <td><b class="click" style="display: inline" id="FirstName">{{ entity.firstName }}</b></td>
                                </tr>
                                <tr>
                                    <td>Middlename</td>
                                    <td><b class="click" style="display: inline" id="MiddleName">{{ entity.middleName }}</b></td>
                                </tr>
                                <tr>
                                    <td>Lastname</td>
                                    <td><b class="click" style="display: inline" id="LastName">{{ entity.lastName }}</b></td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td><b class="click dobb" style="display: inline" id="Dob">{{ entity.dob }}</b></td>
                                </tr>

                                <tr>
                                    <td>MSISDN</td>
                                    <td>{{ entity.msisdn }}</td>
                                </tr>
                                <tr>
                                    <td>SIM Serial Number</td>
                                    <td><b class="click" style="display: inline" id="SimSerial">{{ entity.simSerial }}</b></td>
                                </tr>
                                <tr>
                                    <td>IMEI</td>
                                    <td>{{ entity.esn }}</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td><b class="editable_select2" id="select_1" style="display: inline">{{ gender }}</b></td>
                                </tr>
                                <tr>
                                    <td>Nationality</td>
                                    <td>{{ entity.nationality }}</td>
                                </tr>
                                <tr>
                                    <td>ID Number</td>
                                    <td><b class="click" style="display: inline" id="Identification">{{ entity.identification }}</b></td>
                                </tr>
                                <tr>
                                    <td>Type of ID</td>
                                    <td><b class="editable_select" id="select_1" style="display: inline">{{ idtype }}</b></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><b class="click" style="display: inline" id="Email">{{ entity.email }}</b></td>
                                </tr>
                                <tr>
                                    <td>Region</td>
                                    <td>{{ region }}</td>
                                </tr>
                                <!--<tr>
                                    <td>District</td>
                                    <td>Ilala Municipal Council</td>
                                </tr>-->
                                <tr>
                                    <td>Ward</td>
                                    <td>{{ entity.wards }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ entity.address }}</td>
                                </tr>
                                <tr>
                                    <td>Alternative Address</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Registering Agent</td>
                                    <td>{{ entity.agentMsisdn }}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><strong>Registration TREG Status</strong></td>
                                    <td>{{ reg_status.temporaryRegStatus }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Status TREG Description</strong></td>
                                    <td>{{ reg_status.temporaryRegDesc }}</td>
                                </tr>

                                <tr>
                                    <td><strong>Registration Status</strong></td>
                                    <td>{{ reg_status.fullRegStatus }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Status Description</strong></td>
                                    <td>{{ reg_status.fullRegDesc }}</td>
                                </tr>

                                <tr>
                                    <td>Device Type</td>
                                    <td>{{ entity.deviceModel }}</td>
                                </tr><tr class="hidden-print">
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="hidden-print">
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Registration Done</td>
                                    <td>{{ entity.registrationTime|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Device Sent Time</td>
                                    <td>{{ entity.deviceSentTime|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Registration Received</td>
                                    <td>{{ entity.createdDate|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Sent to Treg</td>
                                    <td>{{ reg_status.tregDate }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>All Images Arrive</td>
                                    <td>{{ reg_status.allimageDate }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Sent To Freg</td>
                                    <td>{{ reg_status.fregDate|date('Y-m-d H:i:s') }}</td>
                                </tr>


                                <tr class="hidden-print">
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td><strong>Verify State</strong></td>
                                    <td>{{ reg_status.verifyState }}</td>
                                </tr>

                                <tr>
                                    <td><strong>Verify Description</strong></td>
                                    <td>{{ reg_status.verifyDescr }}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-5 col-xs-5">
                    <!-- ----------------------------------------- -->

                    <div class="modimg">
                        <!--       registrant_id -->
                        <div class="">
                            <h4>Potrait Photo</h4>
                            <a href="javascript:;" class="white-modal-80">
                                <img src="{{ asset('assets/img/loading.gif') }}" name="potrait"></a>
                        </div>
                        <div class="">
                            <h4>ID Front</h4>
                            <a href="javascript:;" class="white-modal-80">
                                <img src="{{ asset('assets/img/loading.gif') }}" name="front-pic"></a>
                        </div>
                        <!--<div class="">
                            <h4>ID Back</h4>
                            <a href="javascript:;" class="white-modal-80">
                                <img src="{{ asset('assets/img/loading.gif') }}" name="rear-pic"></a>
                        </div>-->
                        <div class="">
                            <h4>Registant Signature</h4>
                            <a href="javascript:;" class="white-modal-80">
                                <img src="{{ asset('assets/img/loading.gif') }}" name="signature"></a>
                        </div>
                    </div>


                    <div class="divider"></div>

                    <!-- ----------------------------------------- -->
                </div>
                <div class="clearfix"></div>
            </div>

            <a class="lloadImages">.</a>


            <!-- --------6.787043,39.274315------6.7858814	39.2742212----  -->
            <div class="col-md-12" style="padding: 15px; display: inline-block;">
                <script type="text/javascript">
                    $('.lloadImages').click(function () {
                        var id = "{{ entity.registrationId }}";
                        var URL = "/admin/registration_images/" + id;
                        $.getJSON(URL, function (data) {
                            if (data || data.item) {
                                $.each(data.item, function (index, item) { // Iterates through a collection
                                    if (item.imageType != null) {
                                        var image = document.getElementsByName(item.imageType)[0];
                                        console.log(image);
                                        var downloadingImage = new Image();
                                        downloadingImage.onload = function () {
                                            image.src = this.src;
                                        }
                                        downloadingImage.src = item.webPath;
                                    }
                                });
                            }
                        });
                    });

                    $(document).ready(function () {
                        $('.lloadImages').click();
                    });
                </script>

                <script>
                    $(".white-modal-80").click(function () {
                        $("#white-modal-80").dialog({
                            modal: !0, minWidth: 500, minHeight: 200, dialogClass: "modal-dialog", show: "fadeIn"
                        }), $(".ui-widget-overlay").addClass("bg-black opacity-60")
                    });
                    var mediaQuery = window.matchMedia('print');
                    mediaQuery.addListener(function (mql) {
                        if (mql.matches) {
                            alert('Printing Page Now');
                        }
                        else {
                            //alert('after print');
                            //$('.navbar-minimalize').click();
                        }
                    });</script>


                <div id="map-canvas" class="hidden-print" style="height: 260px;width: 100%; border: 1px solid #5e5e5e;"></div>
            </div>
            <!-- ----------------- -->
            <div class="divider"></div>

            <div class="visible-lg hidden-print">
                <p>Actioned Comments.</p>

                <div style="padding:5px; margin: 5px; border:1px solid #c5c5c5;"></div>
            </div>

        </div>
    </div>

    <style>
        b input {
            border: 1px solid #1b80bb;
            color:#333 !important;
            height: 30px !important;
            width: inherit !important;
            padding-left: 10px;
        }
    </style>

    <!-- x-editable (bootstrap 3) -->
    <script src="{{ asset('assets/jquery.jeditable.mini.js') }}" type="text/JavaScript" language="javascript"></script>
    <style type="text/css" rel="stylesheet" media="print" href="{{ asset('assets/main2.css') }}"></style>
    <script type="text/javascript" charset="utf-8">

                    $(function () {
                        var server_url = "editUserFormPost/{{ id }}";

                        $(".editable_select").editable(server_url, {
                            indicator: '<img src="{{ asset('assets/indicator.gif') }}">',
                            data: '{"Voters ID":"Voters ID","Drivers License":"Drivers License","National ID":"National ID","Passport":"Passport","Business Licence":"Business Licence","TIN Certificate":"TIN Certificate","VAT Certificate":"VAT Certificate","Certificate of Incorporation":"Certificate of Incorporation","Health Insurance ID":"Health Insurance ID","Employer ID":"Employer ID","Pension Fund ID":"Pension Fund ID","NSSF Pension Card":"NSSF Pension Card","Student ID":"Student ID","WEO\/VEO\/REF":"WEO\/VEO\/REF"}',
                            type: "select",
                            submit: "OK",
                            style: "inherit",
                            submitdata: function () {
                                return {id: "IdentificationType"};
                            }
                        });
                        $(".editable_select2").editable(server_url, {
                            indicator: '<img src="{{ asset('assets/indicator.gif') }}">',
                            data: "{'Male':'Male','Female':'Female'}",
                            type: "select",
                            submit: "OK",
                            style: "inherit",
                            submitdata: function () {
                                return {id: "Gender"};
                            }
                        });
                        $(".click").editable(server_url, {
                            indicator: "<img src='{{ asset('assets/indicator.gif') }}'>",
                            tooltip: "Click to edit...",
                            style: "inherit",
                            submitdata: function () {
                                return {id: $(this).attr("id")};
                            }
                        });
                    });

                    $('.overrideLink').click(function () {

                        overrideActionListen($(this).data('foo'));
                        /*jQuery.ajax({
                         url: $(this).data('foo'),
                         type: "GET",
                         dataType: "json",
                         success: function (data) {
                         $('#myModal').modal('hide');
                         alert('Registration Approved Successfully.');
                         ViewVerifyRegistrationsTables();
                         //location.reload();
                         },
                         error: function () {
                         //Do alert is error
                         }
                         });*/
                    });

    </script>


{% endblock %}
