{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-lg-8">
                            
                            
                            
                            <h1 style="color:#FE910D; font-weight: 600;">{{ message }}</h1>
                            
                            
                            <form action="/admin/newreportspost" method="post" name="dashboardbundle_admin">
                                <div class="form-group">
                                    <label>Email Address:</label>
                                    <input name="emailAddress" type="name" class="form-control" id="emailAddress" required="required">
                                    <input name="verifyer" value="0" type="hidden" class="form-control" id="verifyer" required="required">
                                </div>
                                <div class="form-group">
                                    <label>Report For:</label>
                                    <select name="report_type" class="form-control">
                                        <option value="agent_registration">Agent Registration Report</option>
                                        <option value="id_documents_eport">ID Documents Used Report</option>
                                        <option value="registration_region_report">Registration per Region Report</option>
                                        <option value="registrations_gender_report">Registrations by Gender Report</option>
                                        <option value="all_agents_download">All Agents Download</option>
                                        <option value="registration_journey_report">Registration Journey Report</option>
					<option value="device_report">Device Report</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6 no-padding">
                                        <div class="form-group">
                                            <label>From Date:</label>
                                            <input name="from_date" type="date" class="form-control" id="loginTrials">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>To Date:</label>
                                            <input name="to_date" type="date" class="form-control" id="loginTrials" >
                                        </div>
                                    </div>
                                    <p class="help-block"><strong>Note:</strong> If date is not specified, report generates for the last 24 hours.</p>
                                </div>
                                <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Region:</label>
                                                <select class="form-control" id="search_region" name="region" onchange="getTerritoriesCode();"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Territory:</label>
                                                <select class="form-control  validate[required]" id="search_territory" name="territory"></select>
                                            </div>
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <input name="agent_msisdn" type="text" class="form-control" id="loginTrials" placeholder="By Agent MSISDN/Account Number (optional)" >
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <label> 
                                            <input type="checkbox" name="verify_info" class="verify_info xicheck" value="1"> 
                                            <i></i> Include Verification Info 
                                        </label>
                                    </div>
                                </div>


                                {% if app.request.query.get("type") == "internal" %}
                                <div class="form-group">
                                    <div class="">
                                        <label> 
                                            <input type="checkbox" name="audit_info" class="audit_info xicheck" value="1"> 
                                            <i></i> Include Audit Info 
                                        </label>
                                    </div>
                                </div>
				{% endif %}

                                <!--<div class="form-group">
                                    <input name="customer_msisdn" type="text" class="form-control" id="loginTrials" placeholder="By Customer MSISDN (optional)" >
                                </div>-->

                                <!--<div class="form-group">
                                    <label>Send To:</label>
                                    <input name="email_send_to" type="text" class="form-control" id="loginTrials" placeholder="recepient emails comma separated (optional)" >
                                    <p class="help-block"><strong>Note:</strong> A copy of this report will be sent to your email address.</p>
                                </div>
                                <div class="form-group">
                                    <label>Message:</label>
                                    <textarea name="email_message" class="form-control" id="loginTrials" placeholder="Please find attached a copy of report from EKYC." ></textarea>
                                </div>-->


                                <div class="hr-line-dashed"></div>
                                <div class="row form-group">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <a class="btn btn-white">Cancel</a>
                                        <button class="btn btn-primary" type="submit">Generate Report</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="referenceInfo" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Reference</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="{{ asset('assets/js/core/agents.js') }}"></script>
        <script>
            $(document).ready(function () {
                getRegionsCode();
            });
        </script>

    {% endblock %}

