{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container" style="margin:0">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-lg-12">






                            <div class=" animated fadeInDown">
                                <div class="">
                                    <div class="col-md-6">
                                        <h2 class="font-bold">Reset User Password</h2>

                                        <p></p>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="ibox-content" style="    border: transparent;">
                                            <form id="mmalema" class="m-t" method="post" name="dashboardbundle_admin">
                                                <div id="messagex"></div>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" id="usernamex" placeholder="Enter Username" required />
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" id="passwordx" placeholder="Enter New Password" required />
                                                </div>
                                                <div class="form_button">
                                                    <button type="submit" class="btn btn-primary block full-width m-b">Reset Password</button>
                                                </div>
                                            </form>
                                            <p class="m-t">
                                                <small></small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="msgghdn" style="display:none">
                                <div class="alert alert-success" role="alert">
                                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                    <span class="sr-only">Message:</span>
                                    <span class="msgg"></span>
                                </div>
                            </div>

                            <script>
                                $(document).ready(function () {
                                    $('#mmalema').submit(function (e) {
                                        e.preventDefault();
                                        //TOP AGENTS
                                        jQuery.ajax({
                                            url: "/admin/reset_user_password_post/" + $('#usernamex').val() + "/" + $('#passwordx').val() + "/" + new Date().getTime(), //This URL is for Json file
                                            type: "GET",
                                            dataType: "json",
                                            success: function (data) {
                                                console.log(data);
                                                $('.msgg').html(data.msg);
                                                $('#messagex').html($('.msgghdn').html());
                                            },
                                            error: function () {
                                                //Do alert is error
                                            }
                                        });
                                    });
                                });
                            </script>






                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}