{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>User edit</h1>

    <style>
        

.validate {
    margin-top: 10px;
}

.invalid-form-error-message {
    margin-top: 10px;
    padding: 5px;
}

.invalid-form-error-message.filled {
    border-left: 2px solid #E74C3C;
}

p.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

p.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

ul.parsley-errors-list {
    list-style: none;
    color: #E74C3C;
    padding-left: 0;
}

input.parsley-error,
textarea.parsley-error,
select.parsley-error {
    background: #FAEDEC;
    border: 1px solid #E85445;
}

.btn-group .parsley-errors-list {
    display: none;
}

.bad input,
.bad select,
.bad textarea {
    border: 1px solid #CE5454;
    box-shadow: 0 0 4px -2px #CE5454;
    position: relative;
    left: 0;
    -moz-animation: .7s 1 shake linear;
    -webkit-animation: 0.7s 1 shake linear;
}

.item input,
.item textarea {
    -webkit-transition: 0.42s;
    -moz-transition: 0.42s;
    transition: 0.42s;
}
/* alerts (when validation fails) */

    </style>


    <div class="row">

        <div class="col-xs-12">

            <form action="/admin/editUserForm" data-parsley-validate method="post" name="dashboardbundle_admin" id="addUserModalForm">
                <div class="modal-body row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="region">First Name</label>
                            <input type="text" class="form-control" value="{{ entity.firstName }}" name="firstName" id="firstName" placeholder="enter first name" required="required">
                        </div>
                        <div class="form-group">
                            <label for="region">Middle Name</label>
                            <input type="text" class="form-control" value="{{ entity.middleName }}" name="middleName" id="middleName" placeholder="enter middle name (optional)">
                        </div>
                        <div class="form-group">
                            <label for="region">Last Name</label>
                            <input type="text" class="form-control" value="{{ entity.lastName }}" name="lastName" id="lastName" placeholder="enter last name" required="required">
                        </div>
                        <div class="form-group">
                            <label for="region">DOB</label>
                            <div class="form-group" id="data_1">
                                <label class="font-noraml">Simple data input format</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input name="dob" id="dob" type="text" class="form-control" value="" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="region">User Name</label>
                            <input type="text" class="form-control" value="{{ entity.username }}" name="username" id="username" placeholder="enter username"  required="required">
                        </div>
                        <div class="form-group">
                            <label for="region">MSISDN</label>
                            <input type="tel" class="form-control" value="{{ entity.mobileNumber }}" name="msisdn" id="msisdn" placeholder="mobile number"  required="required">
                        </div>
                        <div class="form-group">
                            <label for="region">Email</label>
                            <input type="email" class="form-control" value="{{ entity.email }}" name="email" id="email" placeholder="enter email address" required="required">
                        </div>
                        <div class="form-group">
                            <label for="region">User Group</label>
                            <select class="form-control" name="user_roles[]" multiple="multiple" required="required">
                                {% for entity in user_roles %}
                                    <option value="{{ entity.role }}">{{ entity.role }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="region">Admin Role</label>
                            <input type="text" class="form-control" value="{{ entity.adminRole }}" id="adminRole" name="adminRole" placeholder="enter role user plays">
                        </div>

                        <div class="form-group">
                            <label for="region">Admin Department</label>
                            <input type="text" class="form-control" value="{{ entity.adminDepartment }}" id="adminDepartment" name="adminDepartment" placeholder="enter admin's department">
                        </div>

                        <input type="hidden" class="form-control" name="userid" hidden="hidden" id="userid" value="{{ userid }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary submitting" data-dismiss="modal">Submit</button>
                </div>
            </form>

        </div>

    </div>


    
    <!-- form validation -->
    <script type="text/javascript" src="{{ asset('assets/js/parsley/parsley.min.js') }}"></script>
    <!-- form validation -->
    <script type="text/javascript">

        $(document).ready(function () {
            $.listen('parsley:field:validate', function () {
                validateFront();
            });
            $('#addUserModalForm .submitting').on('click', function () {
                var msisdn = $('#msisdn').val();
                var last_9 = msisdn.slice(-9);

                arrayNumbers = ['077'];

                if (jQuery.inArray(0 + last_9.substring(0, 2), arrayNumbers) === -1) {
                    //(msisdn.length <= 9 && msisdn.length >= 13) && 
                    alert('Please Enter a valid Zantel Number');
                      return false;

                } else {
                    $('#addUserModalForm').parsley().validate();
                    validateFront();
                    $('#addUserModalForm').submit();
                }

            });
            var validateFront = function () {
                if (true === $('#addUserModalForm').parsley().isValid()) {
                    $('.bs-callout-info').removeClass('hidden');
                    $('.bs-callout-warning').addClass('hidden');
                } else {
                    $('.bs-callout-info').addClass('hidden');
                    $('.bs-callout-warning').removeClass('hidden');
                }
            };
        });
        try {
            hljs.initHighlightingOnLoad();
        } catch (err) {
        }
    </script>
    <!-- /form validation -->


{% endblock %}
