{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>User edit</h1>




    <div class="row">

        <div class="col-xs-12">

            <form action="/admin/editUserForm" data-parsley-validate method="post" name="dashboardbundle_admin" id="addUserModalForm">
                <div class="modal-body row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="region">First Name</label>
                            <input type="text" class="form-control" value="{{ entity.firstName }}" name="firstName" id="firstName" placeholder="enter first name" required="required" >
                        </div>
                        <div class="form-group">
                            <label for="region">Middle Name</label>
                            <input type="text" class="form-control" value="{{ entity.middleName }}" name="middleName" id="middleName" placeholder="enter middle name (optional)">
                        </div>
                        <div class="form-group">
                            <label for="region">Last Name</label>
                            <input type="text" class="form-control" value="{{ entity.lastName }}" name="lastName" id="lastName" placeholder="enter last name" required="required" >
                        </div>
                        <div class="form-group">
                            <label for="region">DOB</label>
                            <div class="form-group" id="data_1">
                                <label class="font-noraml">Simple data input format</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input name="dob" id="dob" type="date" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="region">User Name</label>
                            <input type="text" readonly="true"  class="form-control" value="{{ entity.username }}" name="username" id="username" placeholder="enter username" required="required" >
                        </div>
                        <div class="form-group">
                            <label for="region">MSISDN</label>
                            <input type="tel" class="form-control" value="{{ entity.mobileNumber }}" name="msisdn" id="msisdn" placeholder="mobile number" required="required" >
                        </div>
                        <div class="form-group">
                            <label for="region">Email</label>
                            <input type="email" class="form-control" value="{{ entity.email }}" name="email" id="email" placeholder="enter email address">
                        </div>
                        
                        
                        <div class="form-group">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Region:</label>
                                    <select class="form-control" id="search_region"
                                            name="region"
                                            onchange="getTerritories2();"></select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Territory:</label>
                                    <select class="form-control  validate[required]"
                                            id="search_territory"
                                            name="territory"></select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="region">User Group</label>
                            <select class="form-control" name="user_roles[]" multiple="multiple" required="required">
                                {% for entity in user_roles %}
                                    <option value="{{ entity.role }}">{{ entity.role }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="region">Admin Role</label>
                            <input type="text" class="form-control" value="{{ entity.adminRole }}" id="adminRole" name="adminRole" placeholder="enter role user plays">
                        </div>

                        <div class="form-group">
                            <label for="region">Admin Department</label>
                            <input type="text" class="form-control" value="{{ entity.adminDepartment }}" id="adminDepartment" name="adminDepartment" placeholder="enter admin's department">
                        </div>

                        <input type="hidden" class="form-control" name="userid" hidden="hidden" id="userid" value="{{ userid }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" Tonclick="addUser(event);">Submit</button>
                </div>
            </form>

        </div>

    </div>

    <script src="{{ asset('assets/js/core/agents.js') }}"></script>

    <!-- form validation -->
    <script type="text/javascript" src="{{ asset('assets/js/parsley/parsley.min.js') }}"></script>
    <!-- form validation -->
    <script type="text/javascript">

        $(document).ready(function () {
            getRegions2(); 
                
            $.listen('parsley:field:validate', function () {
                validateFront();
            });
            $('#addUserModalForm .btn').on('click', function () {
                var msisdn = $('#msisdn').val();
                var last_9 = msisdn.slice(-9);

                arrayNumbers = ['077', '752', '753', '754', '755', '756', '757', '758', '759', '762', '763', '764', '765', '766', '767', '768', '769', '740', '741', '742', '743', '744', '745', '746', '747', '748', '749'];

                if (jQuery.inArray(0 + last_9.substring(0, 2), arrayNumbers) === -1) {
                    //(msisdn.length <= 9 && msisdn.length >= 13) && 
                    alert('Please Enter a valid Vodacom Number');
                } else {
                    $('#addUserModalForm').parsley().validate();
                    validateFront();
                    $('#addUserModalForm').submit();
                }

            });
            var validateFront = function () {
                if (true === $('#addUserModalForm').parsley().isValid()) {
                    $('.bs-callout-info').removeClass('hidden');
                    $('.bs-callout-warning').addClass('hidden');
                } else {
                    $('.bs-callout-info').addClass('hidden');
                    $('.bs-callout-warning').removeClass('hidden');
                }
            };
        });
        try {
            hljs.initHighlightingOnLoad();
        } catch (err) {
        }
    </script>
    <!-- /form validation -->


{% endblock %}

