{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-lg-12">


                            <style>
                                small, .small{
                                    font-weight: 100; color: #888;
                                }
                            </style>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>
                                        <th>#</th>
                                        <th><a href="{{ path('admin') }}verify_agent_reports">Agent Verification Report <small>Breakdown by Agent</small></a></th>
                                        <th>view</th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th><a href="{{ path('admin') }}verify_region_reports">Region Verification Report <small>Breakdown by Region</small></a></th>
                                        <th>view</th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th><a href="{{ path('admin') }}verify_auditor_reports">Verifier Report <small>Breakdown by Verifier <i>[user]</i></small></a></th>
                                        <th>view</th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th><a href="{{ path('admin') }}verify_daily_reports">Daily Agent Verify Count Report <small>Breakdown by Day</small></a></th>
                                        <th>view</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>
                                            {% if isAdmin %}
                                                <a href="{{ path('admin') }}verify_daily_reports_system">Daily Verify Count Report <small>Includes System Verification</small></a>
                                            {% endif %}
                                        </th>
                                        <th></th>
                                    </tr>
                                    
                                    <tr>
                                        <th><br /><br/></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    
                                    <tr>
                                        <th>#</th>
                                        <th><a href="{{ path('admin') }}verify_listview">Registration List View</a></th>
                                        <th>view</th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th><a href="{{ path('admin') }}verify_timebreakdown">Time Taken Breakdown</a></th>
                                        <th>view</th>
                                    </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>




    {% endblock %}

