{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>{{title_descr}}</h1>

    <div id="RegistrationsTableContainer"></div>

    <br /><br />

    <script src="{{ asset('assets/js/core/registrations.js') }}"></script>
    <script>
         dday = "{{ dday }}";
         sstate = "{{ sstate }}";
    </script>
    <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
    <script src="{{ asset('assets/js/core/agents.js') }}"></script>
    <script>
        $(document).ready(function () {
            
             dday = "{{ dday }}";
             sstate = "{{ sstate }}";
            
            loadReportDetTables("{{ dday }}", "{{ sstate }}");
        });
    </script>

{% endblock %}


