{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>Idtype</h1>

    <ul class="record_actions list-inline pull-right">
        <li>
            <a href="{{ path('idtype') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('idtype_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Usecount</th>
                <td>{{ entity.useCount }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
