{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>NidaRegistration list</h1>

    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Created Date</th>
                <th>MSISDN</th>
                <th>ICCID</th>
                <th>ID Number</th>
                <th>Finger Printcode</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('nidaregistration_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdDate %}{{ entity.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.msisdn }}</td>
                <td>{{ entity.iccid }}</td>
                <td>{{ entity.nin }}</td>
                <td>{{ entity.fingerPrintCode }}</td>
                <td>{{ entity.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
    </ul>
    {% endblock %}