{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>NidaRegistration</h1>

    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{{ entity.createdDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Msisdn</th>
                <td>{{ entity.msisdn }}</td>
            </tr>
            <tr>
                <th>Iccid</th>
                <td>{{ entity.iccid }}</td>
            </tr>
            <tr>
                <th>Nin</th>
                <td>{{ entity.nin }}</td>
            </tr>
            <tr>
                <th>Fingerprintcode</th>
                <td>{{ entity.fingerPrintCode }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('nidaregistration') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
