{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-6">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-lg-6 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a href="#" class="btn btn-primary btn-ms" onclick="saveDynamicForm(event);" id="btn-save-changes">Save
                    Changes</a>
                <a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelector('{{ operator }}')" id="btn-topic-select">Publish Form</a>
                <!--<a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelectorMessage(event)"
                   id="btn-topic-select">Publish Message</a>-->
            </div>
        </div>
    </div>


    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div id="ServiceFormTableContainer"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('assets/js/core/form_configuration.js') }}"></script>
    <script src="/assets/js/jtable/jquery.jtable.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#ServiceFormTableContainer').jtable({

                title: '{{ service.name }} - Service Forms',

                actions: {
                    listAction: '{{ path("dashboard.service.form.steps", { "id": service.id }) }}',
                    createAction: '{{ path("dashboard.service.form.step.create", { "id": service.id }) }}',
                    updateAction: '{{ path("dashboard.service.form.step.update") }}',
                    deleteAction: '{{ path("dashboard.service.form.step.delete") }}'
                },
                fields: {
                    id: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Fields: {
                        title: '',
                        width: '2%',
                        sorting: false,
                        edit: false,
                        create: false,
                        display: function (stepData) {
                            //Create an image that will be used to open child table
                            var $img = $('<img src="/assets/img/list_metro.png" title="Edit Devices" />');
                            //Open child table when user clicks the image
                            $img.click(function () {
                                $('#ServiceFormTableContainer').jtable('openChildTable',
                                    $img.closest('tr'),
                                    {
                                        title: 'FIELDS',
                                        actions: {
                                            listAction: '{{ path("dashboard.service.step.field.list") }}' + '?stepId=' + stepData.record.id,
                                            createAction: '{{ path("dashboard.service.step.field.create") }}',
                                            updateAction: '{{ path("dashboard.service.step.field.update") }}'
                                        },
                                        fields: {
                                            id: {
                                                type: 'hidden',
                                                defaultValue: stepData.record.id
                                            },
                                            fieldId: {
                                                key: true,
                                                create: false,
                                                edit: false,
                                                list: false
                                            },
                                            skey: {
                                                title: 'KEY',
                                                width: '10%',
                                                options: function () {
                                                    if (cachedKeys) {
                                                        return cachedKeys;
                                                    }
                                                    var options = [];
                                                    $.ajax({
                                                        url: URL_GET_USER_FIELD_KEYS,
                                                        type: 'GET',
                                                        async: false,
                                                        dataType: 'json',
                                                        success: function (result) {
                                                            if (result.Result != 'OK') {
                                                                alert(result.Message);
                                                                return;
                                                            }
                                                            options = result.Options;
                                                        }
                                                    });
                                                    return cachedKeys = options;
                                                }
                                            },
                                            hint: {
                                                title: 'HINT',
                                                width: '10%',
                                            },
                                            hintLangAlt: {
                                                title: 'ALT HINT',
                                                width: '10%',
                                            },
                                            type: {
                                                title: 'TYPE',
                                                width: '2%',
                                                options: function () {
                                                    if (cachedUserFieldType) {
                                                        return cachedUserFieldType;
                                                    }
                                                    var options = [];
                                                    $.ajax({
                                                        url: URL_GET_USER_FIELD_TYPE,
                                                        type: 'GET',
                                                        async: false,
                                                        dataType: 'json',
                                                        success: function (result) {
                                                            console.log(result);
                                                            if (result.Result != 'OK') {
                                                                alert(result.Message);
                                                                return;
                                                            }
                                                            options = result.Options;
                                                        }
                                                    });
                                                    return cachedUserFieldType = options;
                                                }
                                            },
                                            required: {
                                                title: 'REQUIRED',
                                                width: '2%',
                                                options: {1: 'TRUE', 0: 'FALSE'}
                                            },
                                            regex: {
                                                title: 'REGEX',
                                                width: '10%'
                                            },
                                            regexError: {
                                                title: 'R-Error',
                                                width: '10%'
                                            },
                                            regexErrorAlt: {
                                                title: 'R-Error Alt',
                                                width: '10%'
                                            }
                                        }
                                    }, function (data) { //opened handler
                                        data.childTable.jtable('load');
                                    });
                            });

                            //Return image to show on the person row
                            return $img;
                        }
                    },
                    step: {
                        title: 'Step',
                        width: '20%',
                        edit: false,
                        create: false
                    },
                    next: {
                        title: 'Next Step',
                        width: '20%'
                    },
                    title: {
                        title: 'Title',
                        width: '30%'
                    },
                    titleAlt: {
                        title: 'Alt Title',
                        width: '30%'
                    }
                }
            });
            //Load person list from server
            $('#ServiceFormTableContainer').jtable('load');
        });

    </script>
{% endblock %}