{% extends '::simreg_actions.html.twig' %}

{% block body -%}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-6">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-lg-6 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelectorMessage(event)" id="btn-new-service">Add New Service</a>
                <a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelector('{{ operator }}')" id="btn-topic-select">Publish Form</a>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                           id="DataTables_Table_0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Name Alt</th>
                            <th>Service Code</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Ordering</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in services %}
                            <tr>
                                <td>{{ service.id }}</td>
                                <td>{% if service.createdDate %}{{ service.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ service.name }}</td>
                                <td>{{ service.nameAlt }}</td>
                                <td>{{ service.serviceCode }}</td>
                                <td>{{ service.description }}</td>
                                <td>{% if service.status == true %} Active {% else %} Inactive {% endif %}</td>
                                <td>{{ service.ordering }}</td>
                                <td>
                                    <a href="{{ path('dashboard.service.forms', {'id' : service.id} ) }}">Service
                                        Form</a> |
                                    <a href="{{ path('dashboard_service_update') }}">Edit</a> |
                                    <a href="{{ path('dashboard_service_update') }}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}