{% extends '::simreg.html.twig' %}

{% block body -%}

    <div class="row">

        <div class="col-md-12">

            <form action="{{ path("dashboard.service.create") }}" method="post" name="dashboardbundle_service">
                <div class="modal-body row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="region">Service Name</label>
                            <input type="text" class="form-control" value="" name="serviceName" id="serviceName"
                                   placeholder="Enter Service Name" required="required">
                        </div>
                        <div class="form-group">
                            <label for="region">Service Name Alt</label>
                            <input type="text" class="form-control" value="" name="serviceNameAlt" id="serviceNameAlt"
                                   placeholder="Enter Service Name">
                        </div>
                        <div class="form-group">
                            <label for="region">Service Code</label>
                            <input type="text" class="form-control" value="" name="serviceNameCode" id="serviceNameCode"
                                   placeholder="Enter Service Code" required="required">
                        </div>
                        <div class="form-group">
                            <label for="region">Service Description</label>
                            <textarea class="form-control" value="" name="serviceDescription" id="serviceNameCode"
                                      placeholder="Enter Service Description" required="required"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="region">Ordering</label>
                            <input type="number" class="form-control" value="" name="ordering" id="ordering"
                                   placeholder="Enter Service Ordering" required="required">
                        </div>
                        <div class="form-group">
                            <label for="region">Status</label>
                            <select class="form-control" name="service_status" required="required">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" name="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

{% endblock %}
