{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>

    </div>


    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-8">
                                <h2>{{ title_descr }}</h2>
                            </div>
                            <div class="col-xs-12 col-sm-4" style="text-align:right;">
                                <p class="regDone control-label">Registrations Done Today</p>
                                <p class="text-navy regTally"></p>
                                <div class="response"></div>
                                <div class="response2" style="display:none"></div>

                            </div>
                            <br />

                            <div class="row agentVerification">
                                <table class="table verifytable">
                                    <thead>
                                        <tr>
                                            <th class="" style="width: 22%;">Text Info</th>
                                            <th class="jtable-column-header" style="width: 19%;">Portrait</th>
                                            <th class="jtable-column-header" style="width: 2%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="">
                                            <td colspan="6" style="background: #eee;">
                                                <div class="over_ly graph_div">
                                                    <img src="{{ asset('assets/img/loader-light.gif') }}" />
                                                </div>
                                                <h3 class="text-center">Loading Registration..</h3>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <label for="menu-open" class="verify_counter material-button material-button-toggle" type="button">
                                    <div class="material-button material-anim one">1</div>
                                    <div class="material-button material-anim two">2</div>
                                    <span class="timerCounter"></span>
                                </label>
                            </div>

                            <div class="logg" id="logg" style="display:none"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="allowTText" style="display:none;">
        <div class="cchecks">
            <input type="checkbox" class="allowDescr" name="allowDescr" value="validPlainText"> <span><strong>Correct Customer Names [<i>Matches ID</i>]</strong></span>
            <input type="checkbox" class="allowDescr rall bad rate_descr2" name="allowDescr" value="validPortrait">
            <span><strong>Portrait Image matches ID</strong></span>
            <input type="checkbox" class="allowDescr rall bad rate_descr2" name="allowDescr" value="validIdFront">
            <span><strong>Clear Portrait Image</strong></span>
            <input type="checkbox" class="allowDescr rall bad rate_descr2" name="allowDescr" value="validIdBack"> <span><strong>Clear ID Image</strong></span>
        </div>
    </div>
    <div id="declineTText" style="display:none;">

        <div class="cchecks">

            <input type="checkbox" class="rall bad rate_descr2" name="rate_descr2" value="invalid_name"> <span><strong>Incorrect Names [<i>Don't match ID</i>]</strong></span>
            <input type="checkbox" class="rall bad rate_descr2" name="rate_descr2" value="invalid_portrait">
            <span><strong>Incorrect Portrait Image  [<i>Doesn't match ID</i>]</strong></span>
            <input type="checkbox" class="rall bad rate_descr2" name="rate_descr2" value="blur_portrait">
            <span><strong>Blur Portrait Image</strong></span>
            <input type="checkbox" class="rall bad rate_descr2" name="rate_descr2" value="blur_id_images">
            <span><strong>Blur ID Image</strong></span>
            <div class="clearfix"></div>
            <br/>
            <div class="disallowed">
                <input disabled="disabled" type="checkbox" class="rall bad rate_descr2" name="rate_descr2"
                       value="invalid_name"> <span class="bad">Invalid Name</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="incorrect_gender"> <span>Incorrect Gender</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="incorrect_dOB"> <span>Incorrect DOB</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="incorrect_nationality"> <span>Incorrect Nationality</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="wrong_id_type"> <span>Wrong ID Type</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="invalid_id"> <span>Invalid ID #</span>
                <input disabled="disabled" type="checkbox" class="rall fair hidden rate_descr2" name="rate_descr2"
                       value="blur_portrait"> <span class="fair hidden">Blur Portrait</span>
                <input disabled="disabled" type="checkbox" class="rall bad rate_descr2" name="rate_descr2"
                       value="invalid_portrait"> <span class="bad">Invalid Portrait</span>
                <input disabled="disabled" type="checkbox" class="rall fair hidden rate_descr2" name="rate_descr2"
                       value="blur_id_images"> <span class="fair hidden">Blur ID images</span>
                <input disabled="disabled" type="checkbox" class="rall bad rate_descr2" name="rate_descr2"
                       value="invalid_id_images"> <span class="bad">Invalid ID images</span>
                <input disabled="disabled" type="checkbox" class="rall rate_descr2" name="rate_descr2"
                       value="invalid_customer_signature"> <span>Invalid Cust Sig</span>
            </div>
        </div>

    </div>

    <script src="{{ asset('assets/js/core/registrations.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.confirm.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('assets/colorbox.css') }}"/>
    <script src="{{ asset('assets/jquery.colorbox.js') }}"></script>

    <script>

        $(document).ready(function () {
            pullVerifyRegistration();
        });
        var htmltemplate = plainTextTableTemplate();
        var calledReset = true;
        var resetTimesCounter = 0;
        var timerDrawn = 1;
        var registrationImages = {};
        vvalidationObj = $.parseJSON('{{ verifyArray }}'.replace(/&quot;/g, '"'));
        function pullVerifyRegistration() {
            console.log(' :::: pullVerifyRegistration CALLED');
            //VARS:: imageCount rowtableID
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/verify/listverifyregistrations/1/" + new Date().getTime(),
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data.success == 1) {
                    getTallyCount();
                            calledReset = true;
                            timerDrawn = 1;
                            registrationImages = [];
                            var vrows = 1;
                            var Seconds = vrows * {{ secsCount }};
                            $('.agentVerification').html('');
                    $.each(data.records, function (index, val) {
                        drawVerifyRow(val, Math.floor(Math.random() * 600) + 100, val.reg_id);
                    });
                    } else {
                    $('.agentVerification').html('<center><div class="row verificationRow 643"><table class="jtable"><tbody><tr><td colspan="6" style="height:188px; text-align:center;"><h2>Verify Registration</h2><p>There is no registration to verify. Ths panel loads only if there are ragistrations which have not been verified. Click the link below to check again</p><a class="btn btn-default reload_resettable">Verify Registration</a></td></tr></tbody></table></div></center>');

                    $('.reload_resettable').click(function () {
                        pullVerifyRegistration();
                    });
                    }
                },
                error: function () {
                    //Do alert is error
                    console.log('Unexpected Response');
                }
            });
            //#ajax call pull html info.
            //destroy holder div [agentVerification] and create new with rowtableID
            //format plaintext
            //foreach image call image :: onsuccess autoIncrement imageCount
            //inside call image set retry after . if retry
            //if imageCount = 4 :: call library on imageclass, load buttons, call set timer
            //set timer countdown && listener


        }

        function drawVerifyRow(record, rowtableID, reg_id) {
            registrationImages[rowtableID] = {};
            registrationImages[rowtableID]['values'] = {};
            registrationImages[rowtableID]['loaded'] = {};
            var registrationid = 0;
            $('.agentVerification').append(htmltemplate.replace("row verificationRow", "row verificationRow " + rowtableID));
            $.each(record, function (kkey, vval) {
                if (kkey !== 'reg_images') {

                    $('.plaintextdata').append(getTextLineText(kkey, vval));
                    getSetValidation(kkey);
                    //globalise registrationid
                    if (kkey === 'registrationid') {
                        registrationid = vval;
                    }
                } else {
                    $.each(vval, function (ikey, ival) {
                        //console.log('ikey: ' + ikey + ' ival: ' + ival);
                        pullImage(ikey, ival, rowtableID, record.registrationid, reg_id);
                        getSetImageValidation(ikey, ikey);
                        registrationImages[rowtableID]['values'][ikey] = ival;
                        registrationImages[rowtableID]['loaded'][ikey] = 0;
                    });
                }
            });
            imageLoadedChecker(rowtableID, registrationid, record.reg_id);
            //ashamed of this workaround to avoid the first wait... clean later!!!
            var quickloadTimer = true;
            setTimeout(function () {
                $.each(registrationImages[rowtableID]['loaded'], function (kkey, vval) {
                    //if notLoaded,0, call pull image
                    if (vval === 0) {
                        quickloadTimer = false;
                    }
                });
                if (quickloadTimer) {
                    console.log(rowtableID + ' :: Time to QUICKLY, IMPATIENTLY load timer and buttons!!!!!');
                    timerDrawn = 0;
                    drawTimer(rowtableID);
                    drawButtons(rowtableID, registrationid, record.reg_id);
                    actionListen();
                    setSubmitListener();
                    $(".reg_picc").colorbox({iframe: true, width: "60%", height: "80%"});
                }
            }, 4000);
        }

        function getSetValidation(kkey) {
            console.log(kkey + ': verifyArray--');
            console.log(vvalidationObj[kkey]);
            if (kkey in vvalidationObj) {
                console.log('KEY in OBJ');
                $.each(vvalidationObj[kkey], function (xkey, xval) {

                    //$('.row.' + kkey + ' .val_label').html(xkey);
                    $('.row.' + kkey + ' .val_validation').html("<select disabled='disabled' name='" + kkey + "' class='validation " + kkey.replace(' ', '') + "'></select>");
                    $.each(xval, function (xikey, xival) {
                        $('.val_validation .' + kkey.replace(' ', '')).append("<option data-foo='" + xikey + "' value='" + xival + "'>" + xikey + "</option>");
                    });
                });
            } else {
                console.log('KEY NOTIN OBJ');
            }
            console.log(kkey + ': verifyArray----');
        }

        function getSetImageValidation(kkey, imageNAme) {
            console.log(kkey + ': + imageNAme: ' + imageNAme + ' verifyArray--');
            console.log(vvalidationObj[kkey]);
            if (kkey in vvalidationObj) {
                console.log('KEY in OBJ');
                $.each(vvalidationObj[kkey], function (xkey, xval) {

                    //$('.row.' + kkey + ' .val_label').html(xkey);
                    $('.holder.' + imageNAme).append("<select disabled='disabled' name='" + kkey + "' class='validation " + kkey.replace(' ', '') + "'></select>");
                    $.each(xval, function (xikey, xival) {
                        $('.holder .validation.' + kkey.replace(' ', '')).append("<option data-foo='" + xikey + "' value='" + xival + "'>" + xikey + "</option>");
                    });
                });
            } else {
                console.log('KEY NOTIN OBJ');
            }
            console.log(kkey + ': + imageNAme: ' + imageNAme + ' verifyArray------');
        }

        function imageLoadedChecker(rowtableID, registrationid, recordID) {
            //Every 15Seconds retry 
            console.log('-=-===-=-=-=-=-=-=-=-=-- recordID: ' + recordID + ' =-=-=- =- =-= -=');
            var ccount = 1;
            var success = 1;
            var callReset = 1;
            var notLoadedImages = "";
            var loadedImageCount = 0;
            var timerIdcheck = setInterval(function () {
                console.log(ccount + '. registrationImages: ' + rowtableID);
                console.log(registrationImages);
                $.each(registrationImages[rowtableID]['loaded'], function (kkey, vval) {
                    console.log('imageLoadedChecker CALLED ikey: ' + kkey + ' ---- ival: ' + vval);

                    //if notLoaded,0, call pull image
                    if (vval === 0) {
                        notLoadedImages+=kkey+",";
                        success = 0;
                        callReset = 0;
                    }else{
                        loadedImageCount++;
                    }

                    if (success === 0) {
                        pullImage(kkey, registrationImages[rowtableID]['values'][kkey], rowtableID, 'DefaultRecordID', recordID);
                    }
                });
                //if to this point and still success=1, stop checking every n
                if (success === 1) {
                    console.log('clearInterval for ' + timerIdcheck);
                    clearInterval(timerIdcheck);
                    //if timer has been drawn before, ignore
                    if (timerDrawn === 1) {
                        console.log('Time to load timer and buttons!!!!!');
                        drawTimer(rowtableID);
                        drawButtons(rowtableID, registrationid, recordID);
                        actionListen();
                        setSubmitListener();
                        $(".reg_picc").colorbox({iframe: true, width: "60%", height: "80%"});
                    }
                }

                console.log(ccount + '. registrationImages: ' + rowtableID);
                //set max retries
                if (ccount === 5 && callReset === 0) {
                    clearInterval(timerIdcheck);
                    
                    console.log('-=-===:::loadedImageCount:' + loadedImageCount);
                    console.log('-=-===:::notLoadedImages:' + notLoadedImages);
                    
                    console.log('clearInterval called');
                    markRecordCancelled(registrationid, recordID, notLoadedImages, loadedImageCount);
                    pullVerifyRegistration();
                    callReset = 1;
		       }

                ccount++;
                success = 1;
                loadedImageCount = 0;
                notLoadedImages = [];
            }, 15000);
        }

        function pullImage(imageName, imageURL, rowtableID, recordId, reg_id) {
            console.log(rowtableID + ':' + recordId + ' :::: resetTimesCounter: ' + resetTimesCounter + ' calledReset: ' + calledReset);
            //ifNoImage from DB
            if (imageURL === 'No Image Yet') {
                //cancelling because of incorrect image count.. there came an image without url from server   

                if (calledReset && resetTimesCounter < 10) {
                    markRecordCancelled(recordId, reg_id);
                    pullVerifyRegistration();
                    calledReset = false;
                    resetTimesCounter++;
                } else {
                    console.log('Please Refresh Page To Continue');
                }

            } else {
                var imagetag = "<img src='" + imageURL + "' data-tableID='" + rowtableID + "' data-imageName='" + imageName + "' onload='imageLoadedCounter($(this))' />";
                $('.agentVerification .verificationRow.' + rowtableID + ' table.verifytable a.' + imageName).html(imagetag);
                $('.agentVerification .verificationRow.' + rowtableID + ' table.verifytable a.' + imageName).attr('href', imageURL);
            }

        }

        function drawButtons(rowtableID, registrationid, recordID) {
            $('select.validation').removeAttr('disabled');
            console.log('drawButtons :: ' + rowtableID);
            $('.agentVerification .verificationRow.' + rowtableID + ' .actionButton').append(getButtonsTemplate(registrationid, recordID));
        }

        function drawTimer(rowtableID) {
            $('.reg_picc').zoom();
            //row agentVerification
            //row verificationRow 461
            $('.agentVerification .verificationRow.' + rowtableID).append(gettimerHolderTemplate());
            timeoutCounter(rowtableID);
            timeoutId = setTimeout(function () {
                $('.agentVerification .verificationRow.' + rowtableID).html(getTimeoutTableTemplate());
                $('.resettable').click(function () {
                    pullVerifyRegistration();
                });
                //pullVerifyRegistration();
            },{{ secsCount }} * 1000);
        }

        function timeoutCounter(rowtableID) {
            var counter = {{ secsCount }};
                    function setPerSecCountDownTimer() {
                        counter = counter - 1;
                        $('.agentVerification .verificationRow.' + rowtableID + ' .verify_counter .timerCounter').html(counter);
                        if (counter < 30) {
                            $('.agentVerification .verificationRow.' + rowtableID + ' .verify_counter').addClass('red');
                        }
                        setTimeout(function () {
                            if (counter > 0) {
                                setPerSecCountDownTimer();
                            }
                        }, 1000);
                    }

            setPerSecCountDownTimer();
        }

        function imageLoadedCounter(imageObj) {
            //mark received, 1
            registrationImages[imageObj.data('tableid')]['loaded'][imageObj.data('imagename')] = 1;
            $(".reg_picc").colorbox({iframe: true, width: "60%", height: "80%"});
        }

        function urlExists(url, callback) {

            if (!$.isFunction(callback)) {
                throw Error('Not a valid callback');
            }

            $.ajax({
                type: 'HEAD',
                url: url,
                dataType: 'image/jpeg',
                success: $.proxy(callback, this, true),
                error: $.proxy(callback, this, false)
            });
        }
        ;
        function markRecordCancelled(recordId, reg_id, notLoadedImages, loadedImageCount) {
		jQuery.ajax({url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/updateRecordImage/" + recordId + "/" + reg_id + "/" + notLoadedImages + "/" + loadedImageCount + "/" + new Date().getTime(), //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log('ANTOO: Record Cancelled:' + recordId);
                },
                error: function () {
                    //Do alert is error
                }
            });
        }

        function getTallyCount() {
            jQuery.ajax({url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/verifyRecordsCount/{{ user_id }}/" + new Date().getTime() + "/" + new Date().getTime(), //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('.regTally').html(data.ccount);
                },
                error: function () {
                    //Do alert is error
                }
            });
        }

        function getTextLineText(kkey, vval) {
            var textline = "<div class='row " + kkey + "'>";
            textline += "<div class='col-sm-5'>";
            textline += "<p><strong>" + kkey + ": </strong> " + vval + " </p>";
            textline += "</div>";
            textline += "<div class='col-sm-7'>";
            textline += "<div class='form-group'>";
            textline += "<div class='col-sm-11 val_validation'>";
            textline += "";
            textline += "</div>";
            textline += "</div>";
            textline += "</div>";
            textline += "</div>";
            return textline;
        }

        function plainTextTableTemplate() {
            var emptyTemplate = "";
            emptyTemplate += "<div class='row verificationRow'>";
            emptyTemplate += "<form class='formm verifytable'>";
            emptyTemplate += "<table class='table verifytable'>";
            emptyTemplate += "<thead>";
            emptyTemplate += "<tr>";
            emptyTemplate += "<th class='' style='width: 45%;'><div class='col-xs-5'>Text Info</div><div class='col-xs-5'>Score</div></th>";
            emptyTemplate += "<th class='jtable-column-header' style='width: 50%;'>Images</th>";
            emptyTemplate += "<th class='jtable-column-header' style='width: 2%;'></th>";
            emptyTemplate += "</tr>";
            emptyTemplate += "</thead>";
            emptyTemplate += "<tbody>";
            emptyTemplate += "<tr class=''>";
            emptyTemplate += "<td>";
            emptyTemplate += "<div class='msggdiv'></div>";
            emptyTemplate += "<div class='list-unstyled plaintextdata' style='margin: 10px;line-height: 17px; font-size:12px;'></div>";
            emptyTemplate += "</td>";
            emptyTemplate += "<td>";
            emptyTemplate += "<div class='imagesview'>";
            emptyTemplate += "<div class='holder potrait'><h4>Portrait Image</h4><a class='potrait reg_picc white-modal-80 cboxElement'> loading image... </a></div>";
            emptyTemplate += "<div class='holder front-pic'><h4>Front ID Image</h4><a class='front-pic reg_picc white-modal-80 cboxElement'> loading image... </a></div>";
            emptyTemplate += "<div class='holder rear-pic'><h4>Back ID Image</h4><a class='rear-pic reg_picc white-modal-80 cboxElement'> loading image... </a></div>";
            emptyTemplate += "<div class='holder signature'><h4>Signature Image</h4><a class='signature reg_picc white-modal-80 cboxElement'> loading image... </a></div>";
            emptyTemplate += "<div class='actionButton' style='padding-top:30px;'>";
            emptyTemplate += "</div>";
            emptyTemplate += "</div>";
            emptyTemplate += "</td>";
            emptyTemplate += "</tbody>";
            emptyTemplate += "</table>";
            emptyTemplate += "</form>";
            emptyTemplate += "</div>";
            return emptyTemplate;
        }

        function getButtonsTemplate(registrationid, recordID) {
            var buttonsTemplate = "<div class='lloading " + registrationid + "' style='margin-bottom:10px; display:none;'>";
            buttonsTemplate += "<i class='fa fa-spinner fa-spin fa-3x fa-fw margin-bottom'></i>";
            buttonsTemplate += "</div>";
            buttonsTemplate += "<button type='button' class='btn btn-primary confirmVerify btn-lg" + registrationid + "' id='antooSubmit' data-foo='" + recordID + "' data-idd='" + registrationid + "'> Verify Registration </button>";
            buttonsTemplate += "<button style='display:none' class='newsimpleConfirm btn btn-info btn-circle btn-lg " + registrationid + "' aaction='approve' data-foo='" + recordID + "' data-idd='" + registrationid + "'><i class='fa fa-check'></i></button>";
            buttonsTemplate += "<button style='display:none; margin-bottom:10px;' data-toggle='tooltip' aaction='decline' data-placement='top' title='Decline' class='newsimpleDecline btn btn-danger btn-circle btn-lg " + registrationid + "' type='button' data-foo='" + recordID + "' data-idd='" + registrationid + "'><i class='fa fa-times'></i></button>";
            return buttonsTemplate;
        }

        function gettimerHolderTemplate() {
            var timerHolder = "<label for='menu-open' class='verify_counter material-button material-button-toggle' type='button'>";
            timerHolder += "<div class='material-button material-anim one'>1</div>";
            timerHolder += "<div class='material-button material-anim two'>2</div>";
            timerHolder += "<span class='timerCounter'></span>";
            timerHolder += "</label>";
            return timerHolder;
        }

        function placeholderTableTemplate() {
            var emptyTemplate = "<div class='row agentVerification'>";
            emptyTemplate += "<table class='table verifytable'>";
            emptyTemplate += "<thead>";
            emptyTemplate += "<tr>";
            emptyTemplate += "<th class='' style='width: 22%;'>Text Info</th>";
            emptyTemplate += "<th class='jtable-column-header' style='width: 19%;'>Portrait</th>";
            emptyTemplate += "<th class='jtable-column-header' style='width: 19%;'>ID Front</th>";
            emptyTemplate += "<th class='jtable-column-header' style='width: 19%;'>ID Back</th>";
            emptyTemplate += "<th class='jtable-column-header' style='width: 19%;'>Signature</th>";
            emptyTemplate += "<th class='jtable-column-header' style='width: 2%;'></th>";
            emptyTemplate += "</tr>";
            emptyTemplate += "</thead>";
            emptyTemplate += "<tbody>";
            emptyTemplate += "<tr class=''>";
            emptyTemplate += "<td colspan='6' style='background: #eee;'>";
            emptyTemplate += "<div class='over_ly graph_div'>";
            emptyTemplate += "<img src='/assets/img/loader-light.gif'>";
            emptyTemplate += "</div>";
            emptyTemplate += "<h3 class='text-center'>Loading Registration..</h3>";
            emptyTemplate += "</td>";
            emptyTemplate += "</tr>";
            emptyTemplate += "</tbody>";
            emptyTemplate += "</table>";
            emptyTemplate += "<label for='menu-open' class='verify_counter material-button material-button-toggle' type='button'>";
            emptyTemplate += "<div class='material-button material-anim one'>1</div>";
            emptyTemplate += "<div class='material-button material-anim two'>2</div>";
            emptyTemplate += "<span class='timerCounter'></span>";
            emptyTemplate += "</label>";
            emptyTemplate += "</div>";
            return emptyTemplate;
        }

        function getTimeoutTableTemplate() {
            var timeoutTable = "<table class='jtable'>";
            timeoutTable += "<tbody>";
            timeoutTable += "<tr>";
            timeoutTable += "<td colspan='6' style='height:188px; text-align:center;'>";
            timeoutTable += "<h2>Registration Verification Timeout</h2>";
            timeoutTable += "<p>Your session has timed out.. The registration that you were working on has been thrown back to the regPool. Click the link below to continue registration</p>";
            timeoutTable += "<a class='btn btn-default resettable'>Continue Verification</a>";
            timeoutTable += "</td>";
            timeoutTable += "</tr>";
            timeoutTable += "</tbody>";
            timeoutTable += "</table>";
            return timeoutTable;
        }

        function weblog(messg) {
            $('.logg').append("<p>" + messg + "</p>");
        }


        function setSubmitListener() {

            $(".confirmVerify").confirm({
                text: "Are you sure you want to submit verification",
                title: "Confirmation required",
                confirm: function (button) {
                    // e.preventDefault();

                    var recid = button.data('foo');
                    console.log('SubmitButton clicked');
                    var fields = $(".formm.verifytable").serializeArray();
                    var json = {};
                    var valCheck = true;
                    var valString = "";
                    var allDescr = [];

                    weblog('Submit called for record: ' + recid);

                    jQuery.each(fields, function (i, field) {
                        if (field.value === '-1') {
                            valCheck = false;
                            valString += field.name + ", ";
                        }
                        allDescr.push({'fieldName': field.name, 'fieldDescr': $("select[name='" + field.name + "'] option:selected").attr('data-foo')});
                        json[field.name] = {'value': field.value, 'descr': $("select[name='" + field.name + "'] option:selected").attr('data-foo')};
                    });
                    if (!valCheck) {
                        alert('Please Select All Verification Fields: ' + valString);
                        json = {};
                        valCheck = true;
                    } else {
                        json['allDescr'] = allDescr;
                        //recid = '7777777777';
                        var request = $.ajax({
                            url: URL_NEWVERIFYACTION_REGISTRATIONS + '/' + recid + '/1',
                            type: 'post',
                            dataType: 'json',
                            data: JSON.stringify(json),
                            timeout: 10000
                        });
                        request.done(function (data) {
                            $('.response').html("<p class='text-navy response_message'>" + data.response + "... </p>");
                            $('.response2').html("<p style='    height: inherit;' class='text-navy response_message'>" + data.message + "... </p>");
                            timeoutId = setTimeout(function () {
                                $('.response').html("");
                            }, 5000);
                            pullVerifyRegistration();
                        });

                        request.fail(function (error) {
                            hideBusyDialog();
                            console.log("error:" + error);
                        });
                    }
                    console.log(JSON.stringify(json));
                },
                cancel: function (button) {
                    // nothing to do
                },
                confirmButton: "Yes I am",
                cancelButton: "No",
                post: true,
                confirmButtonClass: "btn-danger",
                cancelButtonClass: "btn-default",
                dialogClass: "modal-dialog modal-md" // Bootstrap classes for large modal
            });
        }

        function setSubmitListenerORG() {
            console.log('setSubmitListener called');
            $('#antooSubmit').on('click', function (e) {
                e.preventDefault();

                var recid = $(this).data('foo');
                console.log('SubmitButton clicked');
                var fields = $(".formm.verifytable").serializeArray();
                var json = {};
                var valCheck = true;
                var valString = "";
                var allDescr = [];

                weblog('Submit called for record: ' + recid);

                jQuery.each(fields, function (i, field) {
                    if (field.value === '-1') {
                        valCheck = false;
                        valString += field.name + ", ";
                    }
                    allDescr.push({'fieldName': field.name, 'fieldDescr': $("select[name='" + field.name + "'] option:selected").attr('data-foo')});
                    json[field.name] = {'value': field.value, 'descr': $("select[name='" + field.name + "'] option:selected").attr('data-foo')};
                });
                if (!valCheck) {
                    alert('Please Select All Verification Fields: ' + valString);
                    json = {};
                    valCheck = true;
                } else {
                    json['allDescr'] = allDescr;
                    //recid = '7777777777';
                    var request = $.ajax({
                        url: URL_NEWVERIFYACTION_REGISTRATIONS + '/' + recid,
                        type: 'post',
                        dataType: 'json',
                        data: JSON.stringify(json),
                        timeout: 10000
                    });
                    request.done(function (data) {
                        $('.response').html("<p class='text-navy response_message'>" + data.response + ".. </p>");
                        timeoutId = setTimeout(function () {
                            $('.response').html("");
                        }, 5000);
                        pullVerifyRegistration();
                    });

                    request.fail(function (error) {
                        hideBusyDialog();
                        console.log("error:" + error);
                    });
                }
                console.log(JSON.stringify(json));
            });
        }


        function actionListen() {

            var declineTText = $('#declineTText').html();
            var allowTText = $('#allowTText').html();
            $(".newsimpleConfirm").confirm({
                title: "Approve Registration confirmation",
                text: allowTText, //"Confim do you want to approve the registration?",
                confirm: function (button) {
                    button.fadeOut(2000).fadeIn(2000);
                    var recid = button.data('foo');
                    var row_recId = button.data('idd');
                    var allowDescr = "";
                    var numallowDescr = 0;
                    $('.cchecks .allowDescr:checked').each(function () {
                        allowDescr += ',' + $(this).val();
                        numallowDescr = numallowDescr + 1;
                    });
                    var validationCheck = true;
                    console.log('rate_descr3::' + allowDescr);
                    if (numallowDescr !== 4) {
                        alert("All checks to confirm registration quality to be approved must be set");
                        validationCheck = false;
                    }
                    if (validationCheck) {

                        $('.lloading.' + row_recId).show();
                        $('.lloading.' + row_recId).css('color', '#23C6C8');
                        jQuery.ajax({
                            url: URL_NEWVERIFYACTION_REGISTRATIONS + '/' + recid + '/approved/approvedRegistration',
                            type: "GET",
                            dataType: "json",
                            success: function (data) {

                                console.log(data);
                                $('.lloading.' + row_recId).hide();
                                $('.jtable tbody tr[data-record-key="' + row_recId + '"] td .msggdiv').html("<p class='msgg'>" + data.message + "</p>");
                                $('tr#' + row_recId + ' td:nth-child(2) .msggdiv .msgg').css('background', '#23C6C8');
                                $('.simpleConfirm.' + row_recId).addClass('inactivated');
                                $('.simpleDecline.' + row_recId).addClass('inactivated');
                                $('.simpleConfirm.' + row_recId).removeClass('simpleConfirm');
                                pullVerifyRegistration();
                            },
                            error: function () {
                                $('.lloading.' + recid).hide();
                                $('tr#' + recid + ' td:nth-child(2) .msggdiv').html("<p class='msgg'>Error. Refresh Page</p>");
                                $('tr#' + row_recId + ' td:nth-child(2) .msggdiv .msgg').css('background', '#23C6C8');
                            }
                        });
                    }


                },
                cancel: function (button) {
                    button.fadeOut(2000).fadeIn(2000);
                    //alert("You aborted the operation.");
                },
                confirmButton: "Approve Record",
                cancelButton: "Cancel"
            });

            $(".newsimpleDecline").confirm({
                title: "Approve Registration confirmation",
                text: declineTText,
                confirm: function (button) {

                    var recid = button.data('foo');
                    var row_recId = button.data('idd');
                    var validationCheck = true;
                    var id = button.data('foo');
                    var rate_descr3 = "";
                    $('.cchecks .rate_descr2:checked').each(function () {
                        rate_descr3 += ',' + $(this).val();
                    });
                    console.log('rate_descr3::' + rate_descr3);
                    if (rate_descr3 == "") {
                        alert("Please select one or more reasons for declining registration ");
                        validationCheck = false;
                    }

                    if (validationCheck) {

                        button.fadeOut(2000).fadeIn(2000);
                        $('.lloading.' + row_recId).show();
                        $('.lloading.' + row_recId).css('color', '#ED5565');
                        jQuery.ajax({
                            url: URL_NEWVERIFYACTION_REGISTRATIONS + '/' + recid + '/declined/' + rate_descr3,
                            type: "GET",
                            dataType: "json",
                            success: function (data) {
                                $('.lloading.' + row_recId).hide();
                                $('.jtable tbody tr[data-record-key="' + row_recId + '"] td .msggdiv').html("<p class='msgg'>" + data.message + "</p>");
                                $('tbody tr[data-record-key="' + row_recId + '"] td .msggdiv .msgg').css('background', '#ED5565');
                                $('.simpleConfirm.' + row_recId).addClass('inactivated');
                                $('.simpleDecline.' + row_recId).addClass('inactivated');
                                $('.simpleConfirm.' + row_recId).removeClass('simpleConfirm');
                                pullVerifyRegistration();
                            },
                            error: function () {
                                $('.lloading.' + recid).hide();
                                $('tr#' + recid + ' td .msggdiv').html("<p class='msgg'>Error. Refresh Page</p>");
                                $('tr#' + recid + ' td .msggdiv .msgg').css('background', '#ED5565');
                            }
                        });
                    } else {
                        //alert('validation fail');   
                    }
                },
                cancel: function (button) {
                    button.fadeOut(2000).fadeIn(2000);
                    //alert("You aborted the operation.");
                },
                confirmButton: "Decline Record",
                cancelButton: "Cancel"
            });
        }

    </script>
    <script src='{{ asset('assets/js/jquery.zoom.js') }}'></script>




{% endblock %}

