{% extends '::index.html.twig' %}

{% block body -%}

    <div class="wrapper wrapper-content" style="min-height:800px;">

        <div class="row" style="">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="col-md-3" style="margin:0; padding:0; width: 60px; float: right;">
                    <button type="submit" id="filter_button" class="btn medium bg-blue" style="height:32px;">
                        <span class="button-content"><i class="fa fa-search"></i> Filter</span>
                    </button>
                </div>

                <div class="col-md-9" style="float:right; ">
                    <div class="" style="overflow: auto">
                        <form>
                            <div id="reportrange" class="pull-right" style="z-index: 1004; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span id="reports_search"></span> <b class="caret"></b>
                            </div>
                            <input name="dashboard_range" id="dashboard_range" hidden />
                            <input name="dashboard_filter" id="dashboard_range" value="12" hidden />

                    </div>
                </div>

                <div class="clearfix"></div>
                </form>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="text-align: center; border-bottom:1px solid #A3A3A3; padding-bottom: 6px; margin-bottom:12px;"></div>
        <div class="clearfix"></div>
        <!-- **************************************************************************************** -->

        
        <div class="row">
            <div class="col-lg-12">
                <!--<h5>User Role is:{{ akuku }}</h5>-->
            </div>

            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Total Registrations</h5>
                    </div>
                    <div class="ibox-content">
                        <p><small><small>Total Received Registrations</small></small></p>
                        <h1 class="no-margins" id="total"></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Pending Verification</h5>
                    </div>
                    <div class="ibox-content">
                        <p><small><small>Not yet verified</small></small><p>
                        <h1 class="no-margins" id="pending"></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Accepted Registrations</h5>
                    </div>
                    <div class="ibox-content">
                        <p><small>Registrations that have been approved</small></p>
                        <h1 class="no-margins" id="pass"></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Declined Registrations</h5>
                    </div>
                    <div class="ibox-content">
                        <p><small>Registrations that have been rejected</small></p>
                        <h1 class="no-margins" id="fail"></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Registrations Graph Sumamry by Hour <span id="ttime">for day</span></strong></h5>
                        <div class="pull-right">

                        </div>
                    </div>
                    <div class="ibox-content" style="height:310px">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="flot-chart">
                                    <div style="padding: 0px; position: relative;">
                                        <div class="over_ly graph_div">
                                            <img src="{{ asset('assets/img/loader-light.gif') }}" />
                                        </div>
                                        <div id="drawlline">
                                            <canvas id="lineChart" height="60"></canvas>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3" >

                                <div class="row">

                                    <div class="col-lg-12" style="margin-top: 20px;">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Average Verification Time</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <p><small>Avarage time agent takes to do verification</small></p>
                                                <h1 class="no-margins" id="verifyLock"></h1>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <style>
        .over_ly img{
            margin: 0 auto;
            display: block;
        }
    </style>
    <script src="{{ asset('assets/js/plugins/chartJs/Chart.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">


    <script type="text/javascript">
        $('#filter_button').click(function () {
            //alert($('#reports_search').text());
            var dates_dates = $('#reports_search').text();
            var dates_array = dates_dates.split(' - ');

            var dateStart = $.datepicker.formatDate('yy-mm-dd', new Date(dates_array[0]));
            var dateEnd = $.datepicker.formatDate('yy-mm-dd', new Date(dates_array[1]));
            //alert(dateStart + " | " + dateEnd);

            //$(".over_ly.graph_div").show();
            $(".over_ly.table_agent_cnt").show();
            $(".over_ly.table_day_cnt").show();
            $(".over_ly.table_latest_trends").show();

            $("#agent_count_table tfoot tr").remove();
            $("#agent_count_table tbody tr").remove();
            $("#latest_table_trends tbody tr").remove();


   lloadHourlyGraphFiltered(dateStart, dateEnd, 1);
            lloadDashboardTopSummary(dateStart, dateEnd);
            lloadAvarageVerificationTimeReport(dateStart, dateEnd, 1);
        });
    </script>

    <script>

        $(document).ready(function () {
            lloadHourlyGraphFiltered("{{ ddate|date('Y-m-d') }}", "{{ ddate|date('Y-m-d') }}", 0);
            lloadDashboardTopSummary(1, 1);
            lloadAvarageVerificationTimeReport("{{ ddate|date('Y-m-d') }}", "{{ ddate|date('Y-m-d') }}", 0);
        });



        function load_hourly_graph(data) {
            //888 ----- -- -- -- -- -- - --  - -- 

            $('#lineChart').remove();
            $('#drawlline').html("<canvas id='lineChart' height='60' style='max-height: 400px !important; min-height:270px !important;'></canvas>");
                
            
            console.log("Data");

            console.log(data);
            text = [];
            for (index = 0; index < data.length; index++) {
                text.push(parseInt(data[index]));
            }

            $(".over_ly.graph_div").hide();
            var lineChartData = {
                labels: ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24"],
                datasets: [
                    {
                        label: "Example dataset",
                        fillColor: "rgba(254, 145, 13, 0.68)",
                        strokeColor: "rgba(254, 145, 13, 0.78)",
                        pointColor: "rgba(254, 145, 13, 0.68)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(254, 145, 13, 0.48)",
                        data: text
                    }
                ]

            }

            $(document).ready(function () {
                new Chart(document.getElementById("lineChart").getContext("2d")).Line(lineChartData, {
                    responsive: true,
                    tooltipFillColor: "rgba(51, 51, 51, 0.55)"
                });
            });
            //888 ----- -- -- -- -- -- - --  - --        
        }



    </script>




    <script type="text/javascript">

//LATEST DAYS TREND
         function lloadHourlyGraphFiltered(start, end, hidettime) {

            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/hourly_summary/" + start + "/" + end + "/" + new Date().getTime(), //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    load_hourly_graph(data);
                    if (hidettime === 1) {
                        $('#ttime').html(" for date <strong style='color: #d07404;'>" + start + "</strong> to <strong style='color: #d07404;'>" + end + "</strong>");
                    } else {
                        $('#ttime').show();
                    }
                },
                error: function () {
                    //Do alert is error
                }
            });

        }
        
        
         function lloadAvarageVerificationTimeReport(start, end, hidettime) {

            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/avarage_verification_time/" + start + "/" + end + "/" + new Date().getTime(), //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    //{"total":0,"pending":0,"pendingtreg":0,"treg":0,"fail":0,"freg":0}
                    $('#verifyLock').html(data.verifyLock);
                },
                error: function () {
                    //Do alert is error
                }
            });

        }
        
         function lloadDashboardTopSummary(start, end) {

            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/ccount_verifysummary/"+start+"/"+end + "/" + new Date().getTime(), //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    //{"total":0,"pending":0,"pendingtreg":0,"treg":0,"fail":0,"freg":0}
                   $('#total').html(data.total);
                   $('#pass').html(data.pass);
                   $('#fail').html(data.fail);
                   $('#pending').html(data.pending);
                   //$('#ttopfail').html(data.fail);
                },
                error: function () {
                    //Do alert is error
                }
            });

        }
    </script>



    <!-- daterangepicker -->
    <script type="text/javascript" src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/datepicker/daterangepicker.js') }}"></script>
    <!-- datepicker -->
    <script type="text/javascript">
        $(document).ready(function () {

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2016',
                dateLimit: {
                    days: 460
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });
    </script>

{% endblock %}
