        body {
        background: #fff url(../images/bg_black.jpg) repeat-x;
        margin: 0;
        padding: 0;
        text-align: center;
        color: #666;
        font: 15px/1.4em Arial, Helvetica, Geneva, sans-serif;
    }
    
    #wrap {
        margin: 0 auto;
        text-align: left;
        width: 800px;
    }
    
    #content {
        background: #fff;
        float: left;
        width: 550px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        overflow: hidden;
    }
    
    #sidebar {
        background: #fff;
        float: right;
        width: 220px;
        padding-top: 10px;
        padding-right: 10px;
        overflow: hidden;
    }
    
    #header {
        padding-left: 8px;
        padding-top: 17px;
        clear: both;
        height: 89px;
        display: block;
    }
    
    #footer {
        clear: both;
    }
    
    h1,
    h2,
    h3 {
        font-family: helvetica, arial, sans-serif;
        line-height: 30px;
        letter-spacing: -1px;
        padding: 0;
        margin: 0;
        color: #2fbe35;
        text-decoration: none;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 24px;
        color: #ccc;
    }
    
    p,
    form {
        padding: 0;
        margin: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    
    pre {
        background-color: #333;
        padding: 6px;
        font-size: 12px;
        color: #2fbe35;
        line-height: 1.3em;
    }
    
    code {
        font-family: "Courier New", Courier, mono;
        color: #2fbe35;
    }
    
    ul {
        margin: 0;
        padding-left: 35px;
    }
    
    #sidebar p,
    #sidebar form {
        padding-top: 0;
        padding-left: 0.2em;
    }
    
    #sidebar .google {
        float: right;
        padding-top: 12px;
        padding-right: 12px;
        overflow: hidden;
    }
    
    blockquote {
        background: #3e8da7 url(../images/quote_blue.gif) no-repeat 0px top;
        border: none;
        color: #fff;
        padding: 5px 20px 5px 50px;
        margin-right: 30px;
        margin-left: 30px;
    }
    
    blockquote.blue {
        background: #3e8da7 url(../images/quote_blue.gif) no-repeat 0px top;
    }
    
    blockquote.green {
        background: #2fbe35 url(../images/quote_green.gif) no-repeat 0px top;
    }
    
    blockquote.red {
        background: #ff1926 url(../images/quote_red.gif) no-repeat 0px top;
    }
    
    #header h1,
    #header h2,
    #header h3 {
        color: #aaa;
        display: inline;
    }
    
    #header a:link,
    #header a:visited {
        text-decoration: none;
        border-bottom: none;
    }
    
    a:link,
    a:visited {
        text-decoration: none;
        border-bottom: 1px dotted #3e8da7;
        color: #3e8da7;
    }
    
    a:hover {
        text-decoration: none;
        border-bottom: 1px solid #3e8da7;
        color: #3e8da7;
    }
    
    a:active {
        outline: none;
    }
    
    a:focus {
        -moz-outline-style: none;
    }
    
    .entrytitle a:link,
    .entrytitle a:visited {
        text-decoration: none;
        border-bottom: none;
        color: #2fbe35;
    }
    
    #content img {
        //display: block;float:left;border:1px solid #999;margin-top:4px;padding:6px;margin-right:7px;}#sidebar h1,#sidebar h2,#sidebar h3{color:#ccc;}#sidebar input{width:100%;}#sidebar li{float:left;margin:0 0 0 20px;padding:0 3px 0 0;list-style-type:circle;list-style-position:outside;}.tagcloud{letter-spacing:-1px;font-weight:bold;}.tagcloud a:link,.tagcloud a:visited{color:#ccc;text-decoration:none;border-bottom:none;}.tagcloud a:hover{color:#bbb;text-decoration:none;border-bottom:none;}#nav{margin:0;padding:0;list-style:none;font-size:20px;float:right;position:relative;clear:none;bottom:38px;}#nav li{float:left;margin:0;padding:0 3px 0 0;list-style:none;}#nav a{float:left;padding:3px 13px 0 13px;text-decoration:none;color:#aaa;border-left-style:solid;border-left-width:2px;}#nav a.last{border-right-style:solid;border-right-width:2px;}#nav a:hover,#nav a.active{color:#eee;border-color:#aaa;}.entry{margin-bottom:3em;}.entrymeta{font-size:0.9em;}.postedby{background:#fff url(../images/icon_mail.gif) 1px no-repeat;padding:3px;padding-left:20px;}.filedto{background:#fff url(../images/icon_checkmark.gif) 1px no-repeat;padding:3px;padding-left:20px;}.commentslink{background:#fff url(../images/icon_quote.gif) 1px no-repeat;padding:3px;padding-left:20px;}.commentsblock{}.commentsblock textarea{width:100%;}.commentsblock input{width:300px;}.commentsblock input,.commentsblock textarea{border:1px solid #d1d1d1;}.commentsblock textarea:focus,.commentsblock input:focus{background:#eee;border:1px solid #a1a1a1;}.commentauthor{display:block;}ol.commentlist{color:#aaa;list-style-type:none;margin:0;margin-top:1em;padding:0;}.commentlist li{margin-bottom:0.5em;padding:0.5em 1em;}.alt{background:#eee;padding:0.5em;}td{padding:3px;}th{padding:3px;}