{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>AppUpload list</h1>

    <ul class="pull-right">
        <li>
            <a href="{{ path('appupload_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
           id="DataTables_Table_0">
        <thead>
        <tr>
            <th>Id</th>
            <th>Createddate</th>
            <th>Versionname</th>
            <th>Description</th>
            <th>Filelocation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('appupload_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdDate %}{{ entity.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.versionName }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.fileLocation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('appupload_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('appupload_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="#publish" onclick="loadTopicSelector('{{ operator }}','{{ entity.id }}')"
                               id="btn-topic-select">Publish APK</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="publishModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Publish Form</h4>
                </div>
                <div class="modal-body">
                    <form id="publishModalForm">
                        <div class="form-group">
                            <label for="form-topic" class="control-label">Topic:</label>
                            <input type="text" class="form-control" id="form-msisdn" name="form-msisdn">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="publishMessage('{{ mqttMessageTopic }}','{#{ entity.id }#}',event);">Publish</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/core/app_upload.js') }}"></script>
{% endblock %}

