{% extends '::simreg.html.twig' %}

{% block body -%}



    <h1>AppUpload creation</h1>

    <p>Message: {{ message }} </p>
    <p>URL:{{ uploadedURL }} </p>
    <p>Status: {{ status }} </p>
    
    <form name="aimgroup_dashboardbundle_appupload" method="post" enctype = "multipart/form-data" action="/appupload/">
        <div id="aimgroup_dashboardbundle_appupload">
            <div class="form-group">                
                <label class="control-label required" for="aimgroup_dashboardbundle_appupload_versionName">Version name</label>
                <input type="text" id="aimgroup_dashboardbundle_appupload_versionName" name="versionName" required="required" maxlength="255" class="form-control">
            </div>
            <div class="form-group">                
                <label class="control-label required" for="aimgroup_dashboardbundle_appupload_description">Description</label>
                <input type="text" id="aimgroup_dashboardbundle_appupload_description" name="description" required="required" maxlength="255" class="form-control">
            </div>
            <div class="form-group">                
                <label class="control-label required" for="aimgroup_dashboardbundle_appupload_fileLocation">File location</label>
                <input type="file" id="aimgroup_dashboardbundle_appupload_fileLocation" name="fileLocation" required="required" maxlength="255" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" id="aimgroup_dashboardbundle_appupload_submit" name="aimgroup_dashboardbundle_appupload[submit]" class="btn-default btn">Create</button>
            </div>
            <input type="hidden" id="aimgroup_dashboardbundle_appupload__token" name="aimgroup_dashboardbundle_appupload[_token]" class="form-control" value="5T3GcuPst8rS6dX7vxiUs0c3IwzQgUMmB0E5r3fV6jI">
        </div>
    </form>
    

    <ul class="record_actions">
        <li>
            <a href="{{ path('appupload') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
