{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a href="#newArtist" class="btn btn-primary btn-ms" onclick="saveSystemConfigurations(event);">Save
                    Changes</a>
                <a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelector('{{ operator }}')"
                   id="btn-topic-select">Publish Form</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="col-lg-8">
                        <form role="form" lpformnum="1" _lpchecked="1" id="EndpointConfigurationsForm">
                            <div class="form-group">
                                <label for="textUrl">Text Based Data Endpoint</label>
                                <input type="url" class="form-control" id="textUrl" name="textUrl">
                                <p class="help-block">The URL which will be used by the devices to send text based
                                    information to the platform.</p>
                            </div>
                            <div class="form-group">
                                <label for="imageUrl">Images Endpoint</label>
                                <input type="url" class="form-control" id="imageUrl" name="imageUrl">
                                <p class="help-block">URL which will be used by devices to send images to the
                                    platform.</p>
                            </div>
                            <div class="form-group">
                                <label for="smsShortCode">SMS Fallback Short Code</label>
                                <input type="number" class="form-control" id="smsShortCode" name="smsShortCode">
                                <p class="help-blxock">The number which devices will use to send fallback SMS for
                                    registrations.</p>
                            </div>
                            <div class="form-group">
                                <label for="smsUrl">SMS Fallback Endpoint</label>
                                <input type="url" class="form-control" id="smsUrl" name="smsUrl">
                                <p class="help-block">Endpoint whih will be used by SMS gateway to post SMS fallback
                                    registration information.</p>
                            </div>
                            <div class="form-group">
                                <label for="partnerUrl">Partner Endpoint</label>
                                <input type="url" class="form-control" id="partnerUrl" name="partnerUrl">
                                <p class="help-block">End point which will be used by partner networks to register
                                    activate their agents in this network.</p>
                            </div>
                            <div class="form-group">
                                <label for="partnerUrl">Oauth Endpoint</label>
                                <input type="url" class="form-control" id="oauthUrl" name="oauthUrl">
                                <p class="help-block">Oauth URL Endpoint</p>
                            </div>
                            <div class="form-group">
                                <label for="passwordTokenUrl">Password Reset Token Validation Endpoint</label>
                                <input type="url" class="form-control" id="passwordTokenUrl" name="passwordTokenUrl">
                                <p class="help-block">Password Reset Token Validation Endpoint</p>
                            </div>
                            <div class="form-group">
                                <label for="passwordResetUrl">Password Reset Url</label>
                                <input type="url" class="form-control" id="passwordResetUrl" name="passwordResetUrl">
                                <p class="help-block">Password Reset Url</p>
                            </div>
                            <div class="form-group">
                                <label for="apkUpdateUrl">Global APK Update</label>
                                <input type="url" class="form-control" id="apkUpdateUrl" name="apkUpdateUrl">
                                <p class="help-block">Global APK Update</p>
                            </div>
                            <div class="form-group">
                                <label for="pendingStatusUrl">Pending status check URL</label>
                                <input type="url" class="form-control" id="registrationStatusUrl" name="registrationStatusUrl">
                                <p class="help-block">Pending status check url </p>
                            </div>
                            <div class="form-group">
                                <label for="pendingStatusUrl">ID Configurations URL</label>
                                <input type="url" class="form-control" id="idTypesUrl" name="idTypesUrl">
                                <p class="help-block">ID types Configurations </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="referenceInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reference</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="publishDyanmicFormModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Publish Form</h4>
                </div>
                <div class="modal-body">
                    <form id="publishDyanmicFormModalForm">
                        <div class="form-group">
                            <label for="form-topic" class="control-label">Topic:</label>
                            <input type="text" class="form-control" id="form-msisdn" name="form-msisdn">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            onclick="publishMQTT(event);">Publish
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('assets/js/core/sys_configuration.js') }}"></script>
    <script type="text/javascript">
        window.onload = function () {
            loadSavedEnpointConfigurations();
        }
    </script>
{% endblock %}
