{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SecurityCodes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Actionname</th>
                <td>{{ entity.actionName }}</td>
            </tr>
            <tr>
                <th>Actioncode</th>
                <td>{{ entity.actionCode }}</td>
            </tr>
            <tr>
                <th>Emailaddress</th>
                <td>{{ entity.emailAddress }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ entity.userId }}</td>
            </tr>
            <tr>
                <th>Actionstatus</th>
                <td>{{ entity.actionStatus }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('securitycodes') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('securitycodes_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
