{{ include('includes/top_header.html.twig') }}
<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-6">
                <h2 class="font-bold">eReg Administration</h2>

                <p>EKYC Platform is designed to capture fully compliant identity information with verifiable data. It allows for rapid scalability and market penetration at an unparalleled speed for organizations in the public and private sector.</p>
            </div>
            <div class="col-md-6">

                <div class="ibox-content">
                    <form id="login" class="m-t" role="form" action="{{ path('login_check') }}" method="post">
                        {% if(error) %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <input class="form-control" type="text" id="username" name="_username" placeholder="Enter Username" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" id="password" name="_password" placeholder="Enter Password" required />
                        </div>
                        <div class="form_button">
                            <input type="hidden" name="admin_redirect_url" value="admin" />
                            <input class="btn btn-primary block full-width m-b" type="submit" id="_submit" name="_submit" value="Log In" />
                        </div>
                    </form>
                    <p class="m-t">
                        <a href="{{ path('faq_new') }}"><small>Forgot Password</small></a>
                    </p>
                    <p class="m-t">
                        <small>EKYC Platform © 2015</small>
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                CopyrightEKYC. All Rights Reserved.
            </div>
            <div class="col-md-6 text-right">
                <small>© 2015</small>
            </div>
        </div>
    </div>

    {{ include('includes/bottom_footer.html.twig') }}
</body>
</html>