{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a data-toggle="modal" href="#newArtist" class="btn btn-primary btn-ms" data-target="#referenceInfo">Config Reference</a>
                <a href="#newArtist" class="btn btn-primary btn-ms" onclick="saveLoginConfiguration(event);">Save Changes</a>
                <a href="#newArtist" class="btn btn-primary btn-ms " >Publish</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="col-lg-8">
                        <form role="form" lpformnum="1" _lpchecked="1" id="loginConfigurationForm">
                            <div class="form-group">
                                <label>Password Regex</label>
                                <input type="text" class="form-control" id="passwordRegex" name="passwordRegex">
                                <p class="help-block">Define regex to be used for passwords.</p>
                            </div>
                            <div class="form-group">
                                <label>Login trials</label>
                                <input type="number" class="form-control" id="loginTrials" name="loginTrials">
                                <p class="help-block">Define the number of times a user can try to login.</p>
                            </div>
                            <div class="form-group">
                                <label>Reset Password Regex</label>
                                <input type="text" class="form-control" id="passwordRestRegex" name="passwordRestRegex">
                                <p class="help-block">Define regex to be used for reset passwords.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="referenceInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reference</h4>
                </div>
                <div class="modal-body" align="left">
                    <pre>
                        ^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})
                         Basic Regex
                        1. The password string will start this way
                        2. (?=.*[a-z])	The string must contain at least 1 lowercase alphabetical character
                        3. (?=.*[A-Z])	The string must contain at least 1 uppercase alphabetical character
                        4. (?=.*[0-9])	The string must contain at least 1 numeric character
                        5. (?=.*[!@#\$%\^&\*])	The string must contain at least one special character, but we are escaping reserved RegEx characters to avoid conflict
                        6. (?=.{8,})	The string must be eight characters or longer
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/core/device_configuration.js') }}"></script>
    <script type="text/javascript">
        window.onload = function () {
            loadLoginConfigurations();
        }
    </script>
{% endblock %}