{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-8 pull-right">

        </div>
    </div>

    <style>
        .form-group.two{
            padding: 10px;
            clear: both;
            margin-top: 10px;
            border-top: 1px solid #e5e5e5;
            padding-top: 15px;
            width: 100% !important;
            display: inline-table;
        }
    </style>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="col-lg-12">

                            <div class="message" style="border:0;"></div>
                            <p>Choose fields that will appear on the verifier dashboard.</p>
                            <form role="form" lpformnum="1" _lpchecked="1" id="idVerifyerFieldform" style="margin-bottom: 100px;">

                                <div class="form-group" style="padding: 10px;">
                                    <label class="col-sm-4 control-label">Number of rows
                                        <br/><small class="text-navy">Number of Rows per verifier view</small>
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" style="width:200px;" name="numRow" id="numRow" value="{{ numRows }}" placeholder="Enter Number of Devices" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group two" style="padding: 10px 10px 0; margin-bottom: 0px;">
                                    <label class="col-sm-4 control-label">Number of Seconds Per Page
                                        <br/><small class="text-navy">Time in seconds verifyer gets to verify registrations loaded</small>
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" style="width:200px;" name="secsCount" id="secsCount" value="{{ secsCount }}" placeholder="Time in Seconds" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group two">
                                    <label class="col-sm-4 control-label">Fields To View
                                        <br/><small class="text-navy">Fields will appear on Verify Agents table first column</small>
                                    </label>
                                    <div class="col-sm-4">

                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.id"> <i></i>  ID</label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.msisdn as MSISDN" checked=""> <i></i> MSISDN </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.registrationid"> <i></i> Registration ID </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.firstName as FirstName"> <i></i> First Name </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.middleName as MiddleName"> <i></i> LastName </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.lastName as LastName"> <i></i> Middle Name </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="DATE_FORMAT(u.createdDate, '%Y-%m-%d') as CreatedOn"> <i></i> Created On </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.dob as DoB"> <i></i> Date of Birth </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.nationality as Nationality"> <i></i> Nationality </label></div>


                                    </div>

                                    <div class="col-sm-4">
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.identificationType as IDType"> <i></i> ID Type </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.identification as IDNumber"> <i></i> ID Number </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="a.username as AgentMobile"> <i></i> Agent Mobile </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="a.lastName as AgentFirstName"> <i></i> Agent First Name </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="a.firstName as AgentLastName"> <i></i> Agent Last Name </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.region as Region"> <i></i> Region </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.territory as Territory"> <i></i> Territory </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.deviceModel as DeviceModel"> <i></i> Device Model </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields" class="verifierFields icheck" value="u.msisdnOccuranceCount as TimesReReg"> <i></i> Mobile Reg Re-occurence count </label></div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div class="col-sm-4">
                                        <button type="button" class="pull-left btn btn-primary" onclick="addVerifierFieldsConfig()">
                                            Add Config
                                        </button>
                                    </div>
                                    <div class="col-sm-4"></div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Chosen -->
        <link rel="stylesheet" href="{{ asset('assets/chosen/chosen.css') }}">
        <script src="{{ asset('assets/chosen/chosen.jquery.js') }}"></script>
        <script src="{{ asset('assets/chosen/docsupport/prism.js') }}"></script>
        <script src="{{ asset('assets/js/core/agents.js') }}"></script>
        <script>
                                            $(document).ready(function () {
                                                var fieldString = "{{ configArray }}";
                                                fieldString = JSON.parse(fieldString.replace(/&quot;/g, '"'));
                                                $.each(fieldString, function (index, val) {
                                                    console.log(val.replace(/&#039;/g, "'"));
                                                    $('input:checkbox[value="' + val.replace(/&#039;/g, "'") + '"]').iCheck('check');
                                                });
                                            });
        </script>


    {% endblock %}